* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box; /* 상자 모델을 사용하여 padding과 border를 포함한 크기 설정 */
  }
  
  .body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
   #category{
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid rgb(170, 170, 170); 
    border-radius: 8px;
    padding: 5px;
 }
  #title {
    margin: 0.5rem 0;
    font-size: 2rem;
    width: 100%;
    border: 1px solid rgb(170, 170, 170); 
    padding: 10px;
    border-radius: 8px; 
  }
  
.container {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
button:hover {
    background-color: #45a049;
}
.ck-editor__editable p {margin: 0}
.ck-content { font-size: 13px; }
.ck-editor__editable{
	min-height: 400px;
}