<!--adminmyPage-->
<!--admin 정보-->
<div>admin</div>
<div>
	<li th:text="${admin['userName']}"></li>    
	<li th:text="${admin['phone']}"></li>
	<li th:text="${admin['mail']}"></li>
	<li th:text="${admin['mbti']}"></li>
</div>
<!--mbti 정보-->
<div>mbti 정보</div>
<div th:each="mbtiCnt : ${userMbtiCnt}">
	<ul>
		<span th:text="${mbtiCnt['mbti']}">	</span>
		<span th:text="${mbtiCnt['cnt']}"></span>
	</ul>
</div>
<!--사용자 분포 정보-->
<div>사용자 분포 정보</div>
<span th:text="${AllUserCnt['ALLCnt']}"></span>	
<span th:text="${AllUserCnt['BisCnt']}"></span>
<span th:tex="${AllUserCnt['userCnt']}"></span>


<!--user 정보
 벤 버튼 있으면 좋을 듯--> 
 <div> user 정보</div>
<div th:each="user:${userList}">
	<ul>
		<span th:text="${user['UID']}"></span>
		<span th:text="${user['userName']}"></span>
		<span th:text="${user['userId']}"></span>
		<span th:text="${user['phone']}"></span>
		<span th:text="${user['report']}"></span>
		<span th:text="${user['mbti']}"></span>
		<span th:text="${user['loked']}"></span>
	</ul>
</div>
<!--bis 정보-->
<div> bis 정보</div>
<div th:each ="bis:${bisList}">
	<ul>
		<span th:text="${bis['UID']}"></span>
		<span th:text="${bis['userName']}"></span>
		<span th:text="${bis['userId']}"></span>
		<span th:text="${bis['phone']}"></span>
		<span th:text="${bis['report']}"></span>
		<span th:text="${bis['mbti']}"></span>
		<span th:text="${bis['loked']}"></span>
	</ul>	

</div>