<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="adventure_detail.css"> -->
    <link rel="stylesheet" th:href="@{adventure_detail/adventure_detail.css}">
</head>
<body>
    <section id="contents">
        <div id="adventure_detail">
            <!-- 해당 여행지 -->
            <h1>여좌천로망스다리</h1>
            <!-- 구성 -->
            <div class="detail_tab">                
                <ul>
                    <li><a href=""><span>사진</span></a></li>
                </ul>
                <ul>
                    <li><a href=""><span>상세설명</span></a></li>
                    
                    
                </ul>
                <ul>    
                    <li><a href=""><span>리뷰</span></a></li>
                </ul>
            </div>
            <!-- 사진 -->
            <div id="photo_zone"></div>
            <!-- 설명 -->
            <div id="detail_text">
                <h2>상세설명</h2>
                <h6></h6>
                <p>진해의 대표적인 벚꽃명소로 약 1.5km에 걸쳐 하천 일대에 눈부신 벚꽃터널이 형성되는 곳이다. 
                    MBC드라마 ‘로망스’의 배경이 된 여좌천로망스다리는 진해를 찾는 관광객들의 벚꽃 나들이 코스로 
                    유명하며 로망스 다리에서 사랑을 고백하면 사랑이 이루어진다는 이야기도 전해지고 있으며,
                    경관조명 시설이 갖추어져 있어 늦은 밤에도 아름답고 탐스러운 벚꽃 세상을 누구나 자유롭게 만끽할 수 있다.  </p>
            </div>
            <!-- 리뷰 -->
            <div id="review">
                <h2>리뷰란</h2>
                <textarea id="wirte_from" placeholder="로그인 후 소중한 댓글을 남겨주세요."></textarea>
                <div  class="oK_button">
                    <input type="button" value="확인">
                </div>
                <div id="review_list">
                    <ul>
                        <li>
                            <div id="user_id">trveldog</div>
                            <div id="review_text">동화처럼 예쁘고 힐링그차체였어요</div>
                        </li>
                    </ul>
                </div>
            </div>
              

        </div>
    </section>
</body>
</html>