<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Detail</title>
	<link rel="stylesheet" th:href="@{/common/common.css}"/>
    <link rel="stylesheet" th:href="@{/adventure_detail/adventure_detail.css}">
</head>
<body>
	<section class="itemBody"layout:fragment="content">
		<div class="container" th:data-value="${item.itemID}">
		    <div class="item-details">
		        <h1 class="item-name" th:text="${item.itemName}"></h1>
				<div class="imgCon">
					<div class="img_box" th:each="img,index:${item.ImgeUrl}" th:data-value="${index.index}">
						<img th:src="${img}" alt="로딩실패" >
					</div>
				</div>
				<div class="imgCon_mini">
					<div class="img_box_mini" th:each="img,index:${item.ImgeUrl}">
						<img th:src="${img}" alt="로딩실패" class="img_mini" th:data-value="${index.index}" onclick="changeImg(this)">
					</div>
				</div>
		        <div class="item-info">
		            <p class="info-item">Location: <span th:text="${item.location}"></span></p>
		            <p class="info-item">Tel: <span th:text="${item.tel}"></span></p>
		            <p class="info-item">Contents: <span th:text="${item.contents}"></span></p>
		            <p class="info-item">View: <span th:text="${item.view}"></span></p>
<!--		            <p class="info-item">추천: <span th:text="${#sets.size(item.uprating)}"></span></p>-->
		        </div>
				
		    </div>
			<script th:src="@{/adventure_detail/adventure_detail.js}"></script>
		</div>
		<section class="cart_box">
			<div class="date_box">
				<h1>시작일</h1>
				<input type="date" id="start" onchange="chkdate(this)">
				<h1>종료일</h1>
				<input type="date" id="end" onchange="handleDateChange(this)">
				
			</div>
			<p class="info-item">Price: <span th:text="${item.price}" class="price" th:data-value="${item.price}"></span></p>
			
		    <button onclick="addCart()">Add Cart</button>
		</section>
	</section>

</body>
</html>
