<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>사업자 관리 페이지</title>
    <link rel="stylesheet" th:href="@{/common/common.css}"/>
    <link rel="stylesheet" th:href="@{/sakuraJS/sakura.min.css}"/>
    <link rel="stylesheet" th:href="@{/main/bisMain.css}"/>
   <!-- <script th:src="@{/sakuraJS/sakura.min.js}"></script>-->
    <!-- Chart.js를 위한 CDN -->
<!--    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>-->
</head>

<body>
<section class="mainBG" layout:fragment="content">
    <header class="mainHeader">
        <div class="mainHeaderSec">
			<div class="handler">
	            <div class="search__box" th:if="${userItems!=null}" th:each="item:${userItems}">  
					<div class="search__title">장소 관리</div> <!-- 변경된 부분 -->
					<div class="replaceCon">
						<h4>장소이름</h4>
						<div th:text="${item.itemName}"></div>
						<div class="rImgCon">
							<div class="rImg" th:each="img:${item.ImgeUrl}">
								<img th:src="${img}" alt="로딩실패">
							</div>
						</div>
						<h4>주소</h4>
						<div th:text="${item.location}"></div>
						<h4>조회수</h4>
						<div th:text="${item.view}"></div>
					</div>
					
				</div>
			</div>
		</div>	
       
		
		<div class="next">다음</div>		
		<div class="prev">이전</div>		
		<div class="regist">
			<a th:href="@{/replace/create}"><button>숙소 등록하기</button></a>
		</div>
		<div class="regist">
			<a th:href="@{/adventure/create}"><button>여행지 등록하기</button></a>
		</div>
    </header>

 	<main class="mainCon">

		<div class="reviewInfo">
			<table>
				<tr>
					<th>#</th>
					<th>제목</th>
					<th>작성자</th>
					<th>조회수</th>
					<th>추천수</th>
				</tr>
				<tr th:eact="review,index :${reviews}" th:if="${ reviews!=null}">
					<td th:text="${index.index}"></td>
					<td th:text="${review.title}"></td>
					<td th:text="${reivew.writer}"></td>
					<td th:text="${review.views}"></td>
					<td th:text="${review.suggestion.length}"></td>		
				</tr>
			</table>
		</div>
		           
    </main>
	<script th:src="@{/main/bisMain.js}"></script>
</section>
</body>

</html>