<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	**xmlns:sec="http://www.thymeleaf.org/extras/spring-security"**
    layout:decorate="~{layout.html}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
	<link rel="stylesheet" th:href="@{/common/header.css}">
	<link th:href="@{/customer_center/customer_center.css}" rel="stylesheet" />
</head>

<body>
	<!-- header -->

	<!-- main -->
<div layout:fragment="content" class="content">
	<div  class="main">
		<!-- serch -->
		<section class="serch">
			<form action="" class="c-search-box"><span class="c-search-box__wrap">
					<label class="searchQ&A">QnA 검색</label>
					<input id="searchQ&A" type="text" name="search" placeholder="궁금한 점을 검색해 보세요" maxlength="256"
						class="c-input-search">
					<button type="button" class="c-button-search">
						<img id="searchI" th:src="@{https://svgsilh.com/svg/1093183.svg}"> </button></span>
			</form>
		</section>

		<!-- categoryButton -->
		<section class="Button">
			<button class="CButton" type="button" onclick="showContent('often')"> 자주 묻는 질문 </button>
			<button class="CButton" type="button" onclick="showContent('userData')"> 회원정보 관리 </button>
			<button class="CButton" type="button" onclick="showContent('support')"> 고객센터 </button>
			<button class="CButton" type="button" onclick="showContent('ask')"> 문의하기 </button>
			<button class="CButton" type="button" onclick="showContent('service')"> 서비스 문의 </button>
			<button class="CButton" type="button" onclick="showContent('own')"> 내 문의 </button>
		</section>
		<!--<section class="side_box">
			<div class="side">
				<aside>
					<a href="">마이페이지</a><br>
					<a href="">내주문</a><br>
					<a href="">위시리스트</a><br>
					<a href="">알림</a><br>
					<a href="">로그인아웃</a><br>

				</aside>
				<aside>
					<h1>고객센터</h1>
					<a href="">문의하기</a><br>
					<a href="">내 문의 내역 보기</a><br>
					<a href="">내 예약 정보 보기</a><br>
				</aside>
			</div>
		</section>-->
		<section class="question_box">
			<div class="ContentsList">
				<!---->
				
					<!-- 자주 묻는 질문 -->
					
					<details class="question"  data-value="often" data-often="often">
						<summary>
							<span>아이디/비밀번호를 잊어버렸어요</span>
						</summary>
						<div>
							<p>
								아이디/비밀번호를 잊어버렸어요?
							</p>
						</div>
					</details>
					<details class="question"  data-value="often" data-often="often">
						<summary>
							<span>예약 성공 여부는 어디서 알수 있나요?</span>
						</summary>
						<div>
							<p>
								예약 성공 여부는 예약여부에서 알수있습니다.
							</p>
						</div>
					</details>
					<details class="question"  data-value="often" data-often="often">
						<summary>
							<span>이벤트는 무엇이 있나요?</span>
						</summary>
						<div>
							<p>
								이벤트는 여러가지가 있습니다.
							</p>
						</div>
					</details>
				
				<!-- 회원 정보 관리 -->
				
                    <details class="question"  data-value="userData">
						<summary>
							<span>회원정보는 어떻해 관리되나요?</span>
						</summary>
						<div>
							<p>
								회원정보는 잘관리됩니다.
							</p>
						</div>
					</details>
                    <details class="question"  data-value="userData">
						<summary>
							<span>회원가입은 어떻해 하나요?</span>
						</summary>
						<div>
							<p>
								회원가입버튼을 누르면 됩니다.
							</p>
						</div>
					</details>
                    <details class="question"  data-value="userData">
						<summary>
							<span>등록된 정보는 어떻게 바꾸나요?</span>
						</summary>
						<div>
							<p>
								수정 버튼을 누르면 됩니다.
							</p>
						</div>
					</details>
                    <details class="question"  data-value="userData">
						<summary>
							<span>회원 탈퇴시 개인 정보는 모두 삭제되나요?</span>
						</summary>
						<div>
							<p>
								과연그럴까요?
							</p>
						</div>
					</details>
					
				
				<!-- 고객센터 -->
				<details class="question" data-value="support" data-often="often">
                    <summary>
                        <span>고객 센터 이용 시간은 어떻해 되나요?</span>
                    </summary>
                    <div>
                        <p>
                            고객센터는 고객들의 질문을 담고 있으며, 질문에 대한 답변은 고객센터에게 전달됩니다.
                        </p>
                    </div>
                </details>


				<!-- 문의하기 -->
				<details class="question" data-value="ask">
                    <summary>
                        <span> 1:1 문의는 어떻해 하면 되나요?</span>
                    </summary>
                    <div>
                        <p>
                            문의하기 버튼을 누르면 답변을 받아요.
                        </p>
                    </div>
                </details>
				<details class="question" data-value="ask">
                    <summary>
                        <span>문의 내역은 어디에서 보나요?</span>
                    </summary>
                    <div>
                        <p>
                           글쎄요?
                        </p>
                    </div>
                </details>
				<details class="question" data-value="ask">
                    <summary>
                        <span>다른 사람의 문의도 볼수 있나요?</span>
                    </summary>
                    <div>
                        <p>
                           아니요
                        </p>
                    </div>
                </details>
				<details class="question" data-value="ask">
                    <summary>
                        <span>문의한 것을 취소할수있나요?</span>
                    </summary>
                    <div>
                        <p>
                           아니요
                        </p>
                    </div>
                </details>
				
				
					
				
				<!-- 서비스 문의 -->
                <details class="question" data-value="service">
                    <summary>
                        <span>예약 취소는 어떻해 하면 되나요?</span>
                    </summary>
                    <div>
                        <p>
                            예약 취소 버튼을 누르세요
                        </p>
                    </div>
                </details>
                <details class="question" data-value="service">
                    <summary>
                        <span>예약 성공 여부는 어떻해 알 수 있나요?</span>
                    </summary>
                    <div>
                        <p>
                            예약 성공 여부는 예약여부에서 알수있습니다.
                        </p>
                    </div>
                </details>
                <details class="question" data-value="service">
                    <summary>
                        <span>현금영수증 신청은 어떻해 하나요?</span>
                    </summary>
                    <div>
                        <p>
                            현금영수증 신청 버튼을 누르면 됩니다
                        </p>
                    </div>
                </details>
                <details class="question" data-value="service">
                    <summary>
                        <span>결제한 내역을 보고 싶어요</span>
                    </summary>
                    <div>
                        <p>
                           결제내역에 들어가시면 됩니다
                        </p>
                    </div>
                </details>
                <details class="question" data-value="service">
                    <summary>
                        <span>리뷰 작성은 어떻해 하나요?</span>
                    </summary>
                    <div>
                        <p>
                            리뷰 버튼을 누르면 됩니다
                        </p>
                    </div>
                </details>
                <details class="question" data-value="service">
                    <summary>
                        <span>작성한 리뷰 삭제나 수정 할 수 있나요?</span>
                    </summary>
                    <div>
                        <p>
                            글쎄요?
                        </p>
                    </div>
                </details>
                <details class="question" data-value="service">
                    <summary>
                        <span>등록한 사진이 보이지 않아요</span>
                    </summary>
                    <div>
                        <p>
                            사진이 보이지 않아요
                        </p>
                    </div>
                </details>
				<div th:each="question : ${qnaList}">
					<details class="question" data-value="own">
						<summary>
							<span th:text="${question.title}"></span>
							<span th:text="${question.updateDate}"></span>
						</summary>
						<div>
							<p>
								<span th:text="${question.description}"></span>
							</p>
						</div>
					</details>
				</div>
				
				
			</div>
	    
	    </section>
		<button class="write"><a th:href="@{/QnA/create}">작성</a></button>
    </div>
	<script th:src="@{/customer_center/customer_center.js}"></script>
</div>	

</body>

</html>