<!DOCTYPE html>
<html lang="en"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   **xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   **="**"
   layout:decorate="~{layout.html}">
	

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/664a7b3827.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/history/history.css">
    <link rel="stylesheet" th:href="@{/history/history.css}">
</head>

<body>
<section layout:fragment="content" class="myhistoryBody">
	<div class="main" th:object="${reservation}">   
	       <!--<section class="except">    
	           <div class="side">
	               <aside class="side_bar">
	                   <ul>
	                       <li>
	                           <a th:href="@{/user/mypage}">마이페이지</a>
	                       </li>
	                       <li>
	                           <a th:href="@{/mypage/cart}">내 주문</a>
	                       </li>
	                       <li>
	                           <a th:href="@{/QnA}">고객문의</a>
	                       </li>
	                       <li>
	                           <a th:href="@{/post/noticeBoard/list}">게시판</a>
	                       </li>
	                   </ul>
	               </aside>
	           </div>
	           <div class="guide">
	               <h1>안녕하세요 ***님</h1>
	           </div>
	
	       </section>-->
	       <section class="my_history">
	           
               <div>
                   <h1>나의 예약내역</h1>
				   <!--<form action="">
                       <input type="text" id="serch" placeholder="작성 글 찾기">
                       <input type="button" value="검색">
                   </form>-->
					<div th:object="${reservation}"  class="reservation">
					<table class="reservation_information" >
						<tr>
                            <th>장소 이름</th>
                            <th>주인쟝</th>
                            <th>장소</th>
                            <th>추천 타입</th>
                            <th>출발일</th>
                            <th>도착일</th>
							<th>결제 여부</th>
							<th>전화번호</th>
							<th>가격</th>
                        </tr>
						<tr th:each="pay : ${reservation}">
							<td th:text="${pay['itemName']}"></td>
							<td th:text="${pay['admin']}"></td>
							<td th:text="${pay['location']}"></td>
							<td th:text="${pay['mbti']}"></td>
							<td th:text="${pay['startDate']}"></td>
							<td th:text="${pay['endDate']}"></td>
							<td th:text="${pay['payments']}? 'finish': 'pay' "></td>
							<td th:text="${pay['tel']}"></td>
							<td th:text="${pay['price']}"></td>
							
						</tr>
						<!--<p> 장소 이름</p><span th:text="${pay['itemName']}"></span>
						<sapn>&nbsp;</sapn>
						<p> 주인쟝</p><span th:text="${pay['admin']}"></span>
						<sapn>&nbsp;</sapn>
						<p> 장소</p><span th:text="${pay['location']}"></span>
						<sapn>&nbsp;</sapn>
						<p> 추천 타입</p><span th:text="${pay['mbti']}"></span>
						<sapn>&nbsp;</sapn>
						<p> 출발일</p><span th:text="${pay['startDate']}"></span>
						<sapn>&nbsp;</sapn>
						<p> 도착일</p><span th:text="${pay['endDate']}"></span>
						<sapn>&nbsp;</sapn>
						<p> 결제 여부 </p><span th:text="${pay['payments']}? 'finish': 'pay' "></span>
						<sapn>&nbsp;</sapn>
						<p> 전화번호</p><span th:text="${pay['tel']}"></span>
						<sapn>&nbsp;</sapn>
						<p> 가격</p><span th:text="${pay['price']}"></span>
						<sapn>&nbsp;</sapn>-->
					</table>
					
					</div>
	                   <div class="">
	                       <ul class="page">
	                           <li class="page-item">
	                               <a class="page-link" href="#">이전</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">1</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">2</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">3</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">4</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">5</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">다음</a>
	                           </li>
	                       </ul>
	                   </div>
	               </div>
	               
	               
	               <div class="post_reservation" th:object="${userPosts}">
	                   <h1>글작성 내역</h1>
	                   <!--<form action="">
	                       <input type="text" id="serch" placeholder="작성 글 찾기">
	                       <input type="button" value="검색">
	                   </form>-->
	                   <table class="post_information">
	                       <tr>
	                           <th>작성일자</th>
	                           <th>제목</th>
	                           <th>작성 카테고리</th>
	                           <th>조회수</th>
	                           <th>추천수</th>	                      
	                       </tr>
	                       <tr th:each="userPo :    ${userPosts}">
	                           <td th:text="${userPo['updateDate']}"></td>
	                           <td th:text="${userPo['title']}"></td>
	                          
	                           <td th:text="${userPo['views']}"></td>
	                           <td th:text="${userPo['suggestion']}"></td>
	                           <td></td>	                           
	                       </tr>
	                      		          
	                   </table>
	                   <div class="">
	                       <ul class="page">
	                           <li class="page-item">
	                               <a class="page-link" href="#">이전</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">1</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">2</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">3</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">4</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">5</a>
	                           </li>
	                           <li class="page-item">
	                               <a class="page-link" href="#">다음</a>
	                           </li>
	                       </ul>
	                   </div>
	               </div>
	
	               <div class="qna_reservation" th:object="${userPosts}">
	                   <h1>문의 내역</h1>
					   <!--<form action="">
   	                       <input type="text" id="serch" placeholder="작성 글 찾기">
   	                       <input type="button" value="검색">
   	                   </form>-->
	                   <table class="qna_information">
	                       <tr>
	                           <th>아이디</th>
	                           <th>작성일자</th>
	                           <th>제목</th>
	                           <th>작성 카테고리</th>
	                           <th>답변 상태</th>
	                       </tr>
	                       <tr th:each="qna :   ${userQnAs}">
	                           <td th:text="${qna['QID']}"></td>
	                           <td th:text="${qna['updateDate']}"></td>
	                           <td th:text="${qna['Qname']}"></td>
	                           <td th:text="${qna['contents']}"></td>
	                           <td th:text="${qna['Answer']}"></td>
	                       </tr>
   	                  
	                   </table>
					   <div class="">
   	                       <ul class="page">
   	                           <li class="page-item">
   	                               <a class="page-link" href="#">이전</a>
   	                           </li>
   	                           <li class="page-item">
   	                               <a class="page-link" href="#">1</a>
   	                           </li>
   	                           <li class="page-item">
   	                               <a class="page-link" href="#">2</a>
   	                           </li>
   	                           <li class="page-item">
   	                               <a class="page-link" href="#">3</a>
   	                           </li>
   	                           <li class="page-item">
   	                               <a class="page-link" href="#">4</a>
   	                           </li>
   	                           <li class="page-item">
   	                               <a class="page-link" href="#">5</a>
   	                           </li>
   	                           <li class="page-item">
   	                               <a class="page-link" href="#">다음</a>
   	                           </li>
   	                       </ul>
   	                   </div>
	               </div>
	           </div>
	       </section>
	   </div>
	  </section>
</body>

</html>