<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
	<link rel="stylesheet" th:href="@{/common/common.css}"/>
	<link rel="stylesheet" th:href="@{/item/item.css}"/>
</head>
<body>
    <section layout:fragment="content" class="itemBody">
		<div class="item-list">
	        <div th:each="item : ${list}" class="item">
				<div class="Img" th:if="${item.ImgeUrl != null}">
			        <img th:src="${item.ImgeUrl[0]}" alt="로딩 실패">
				</div>
	            <div>
					<a th:href="@{'/'+${item.Type}+'/detail/' + ${item.itemID}}"><h2 th:text="${item.itemName}"></h2></a>
		            <p>Location: <span th:text="${item.location}"></span></p>
		            <p>Tel: <span th:text="${item.tel}"></span></p>
		            <p>Contents: <span th:text="${item.contents}"></span></p>
		            <p>View: <span th:text="${item.view}"></span></p>
		            <p>Rating: <span th:text="${item.ratingAvg}"></span></p>
				</div>
	        </div>
	    </div>
		
<!--페이징 시작-->
<div th:if="${page!=null}">
	<div th:object="${page}" class="paging">
							
		<a th:href="|list?pageNum=*{firstPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="first">[처음]</a>
		<th:block th:if="${page.prev > 0 }">
				<a th:href="|list?pageNum=*{prev}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="prev">[이전]</a>
		</th:block>
		<th:block th:each="no : ${#numbers.sequence(page.startPage, page.endPage)}">
				<th:block th:if="${no == page.pageNum}">
					<a th:href="|list?pageNum=${no}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="" th:text="${no}" class="on"></a>
				</th:block>
				<th:block th:unless="${no == page.pageNum}">
					<a th:href="|list?pageNum=${no}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" title="" th:text="${no}"></a>
				</th:block>
										
			</th:block>
			<th:block th:if="${page.next <= page.lastPage }">
					<a th:href="|list?pageNum=*{next}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="next">[다음]</a>
			</th:block>
			<a th:href="|list?pageNum=*{lastPage}&totalCount=*{totalCount}&rowsPerPage=*{rowsPerPage}&pageCount=*{pageCount}&keyword=*{keyword}|" class="last">[끝]</a>
							
	</div>
</div>
<!--페이징 종료-->
		
		<!-- 페이지 번호 표시 -->
<!--		<div th:if="${page.totalPages > 1}">
		    <ul class="pagination">
		        <li th:if="${page.hasPrevious()}">
		            <a th:href="@{${'/?pageNum=' + (page.pageNum - 1) + '&keyword=' + page.keyword}}">Previous</a>
		        </li>
		        <li th:each="pageNumber : ${#numbers.sequence(1, page.totalPages)}" th:class="${pageNumber == page.pageNum ? 'active' : ''}">
		            <a th:href="@{${'/?pageNum=' + pageNumber + '&keyword=' + page.keyword}}" th:text="${pageNumber}">1</a>
		        </li>
		        <li th:if="${page.hasNext()}">
		            <a th:href="@{${'/?pageNum=' + (page.pageNum + 1) + '&keyword=' + page.keyword}}">Next</a>
		        </li>
		    </ul>
		</div>-->
	</section>
			
	<script>
		$(document).ready(function() {
					var pageNum = "[[${page.pageNum}]]";
					var rowsPerPage = "[[${page.rowsPerPage}]]";
					var totalCount = "[[${page.totalCount}]]";
					var keyword = "[[${page.keyword}]]";
					var pageCount = "[[${page.pageCount}]]";
					var keyword = "[[${page.keyword}]]";
					
					
			});
	</script>
			
			
</body>
</html>
