<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    
	
	<link rel="stylesheet" th:href="@{/common/header.css}">
	<link rel="stylesheet" th:href="@{/common/footer.css}">
	<link rel="stylesheet" th:href="@{/common/common.css}">
	<!--<script src="https://kit.fontawesome.com/664a7b3827.js" crossorigin="anonymous"></script>-->
	<script th:src="@{/common/common.js}"></script>
</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
	<header th:replace="fragments/header :: header">
	</header>

    <section layout:fragment="content">
        
    </section> 
	
	<footer th:replace="fragments/footer :: footer" >
		
	</footer>
	
</body>
</html>