<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    **xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    **="**"
    layout:decorate="~{layout.html}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>main</title>
        <link rel="stylesheet" th:href="@{/common/common.css}">
        <link rel="stylesheet" th:href="@{/sakuraJS/sakura.min.css}">
        <link rel="stylesheet" th:href="@{/main/main.css}">
        <script th:src="@{/sakuraJS/sakura.min.js}"></script>
        <link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
    </head>

    <body>
        <section class="mainBG" layout:fragment="content">
            <header class="mainHeader">
                <section class="mainHeaderSec">
                    <div class="search__box">
                        <div class="search__title">
                            자기 성향에 맞는 숙소를 예약하세요
                            <br/>
                            즐길거리를 예약하세요.
                        </div>

                        <table>
                            <tr>
                                <td colspan="2" class="search__sub__title">여행지</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input class="search__input" type="text" placeholder=" 모든 위치">
                                </td>
                            </tr>
                            <tr>
                                <td class="search__sub__title">체크인</td>
                                <td class="search__sub__title">체크아웃 </td>
                            </tr>
                            <tr>
                                <td><input class="search__input" type="date"/></td>
                                <td><input class="search__input" type="date"/></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="search__sub__title">
                                    인원
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <select class="search__input">
                                        <option>인원</option>
                                        <option>1명</option>
                                        <option>2명</option>
                                        <option>3명</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="search__button">
                            <button>검색</button>
                        </div>
                    </div>

                </section>
            </header>
            
                    <!-- 사용자 추천 기능 들어갈곳 -->
                    <section>
                    <section class="con2">
                        <div class="con2_wrap">

                            <h3>인기 여행리뷰
                            </h3>
                            <p class="center">
                                다른 여행자들의 일정을 참고해 나만의 여행을 계획해보세요!
                            </p>

                            <div class="plan_wrap">
                                <ul>
                                    <li class="plan">

                                        <div class="item">
                                            <a href="#">
                                                <div class="plan_image">
                                                    <img src="images/plan01.jpg">
                                                    <div class="txt">
                                                        <span class="date">2018-02-21</span>
                                                        <span class="days">7DAYS</span>
                                                        <p class="title">
                                                            여행제목 작성하기
                                                        </p>
                                                    </div>
                                                    <!--txt-->
                                                </div>
                                                <div class="plan_inform">

                                                    <ul class="icon">
                                                        <li>25</li>
                                                        <li>587</li>
                                                        <li>6</li>
                                                    </ul>
                                                    <p class="theme">친구와 함께</p>
                                                    <p class="place">발리</p>
                                                    <p class="user"> 작성자 </p>
                                                </div>
                                            </a>

                                        </div>

                                        <div class="item">
                                            <a href="#">
                                                <div class="plan_image">
                                                    <img src="images/plan04.jpg">
                                                    <div class="txt">
                                                        <span class="date">2018-02-21</span>
                                                        <span class="days">7DAYS</span>
                                                        <p class="title">여행제목 작성하기  </p>
                                                    </div>
                                                    <!--txt-->
                                                </div>
                                                <div class="plan_inform">

                                                    <ul class="icon">
                                                        <li>25</li>
                                                        <li>587</li>
                                                        <li>6</li>
                                                    </ul>
                                                    <p class="theme">친구와 함께</p>
                                                    <p class="place">발리</p>
                                                    <p class="user">작성자</p>
                                                </div>
                                            </a>

                                        </div>

                                    </li>
                                    <li class="plan">

                                        <div class="item">

                                            <a href="#">
                                                <div class="plan_image">
                                                    <img src="images/plan02.jpg">
                                                    <div class="txt">
                                                        <span class="date">2018-02-21</span>
                                                        <span class="days">7DAYS</span>
                                                        <p class="title">
                                                            여행제목 작성하기
                                                        </p>
                                                    </div>
                                                    <!--txt-->
                                                </div>
                                                <div class="plan_inform">

                                                    <ul class="icon">
                                                        <li>25</li>
                                                        <li>587</li>
                                                        <li>6</li>
                                                    </ul>
                                                    <p class="theme">
                                                        친구와 함께
                                                    </p>
                                                    <p class="place">발리</p>
                                                    <p class="user">작성자</p>
                                                </div>
                                            </a>

                                        </div>

                                        <div class="item">

                                            <a href="#">
                                                <div class="plan_image">
                                                    <img src="images/plan05.jpg">
                                                    <div class="txt">
                                                        <span class="date">2018-02-21</span>
                                                        <span class="days">7DAYS</span>
                                                        <p class="title">여행제목 작성하기 </p>
                                                    </div>
                                                    <!--txt-->
                                                </div>
                                                <div class="plan_inform">

                                                    <ul class="icon">
                                                        <li>25</li>
                                                        <li>587</li>
                                                        <li>6</li>
                                                    </ul>
                                                    <p class="theme">친구와 함께</p>
                                                    <p class="place">발리</p>
                                                    <p class="user">작성자</p>
                                                </div>
                                            </a>

                                        </div>

                                    </li>
                                    <li class="plan">

                                        <div class="item">

                                            <a href="#">
                                                <div class="plan_image">
                                                    <img src="images/plan03.jpg">
                                                    <div class="txt">
                                                        <span class="date">2018-02-21</span>
                                                        <span class="days">7DAYS</span>
                                                        <p class="title">여행제목 작성하기</p>
                                                    </div>
                                                    <!--txt-->
                                                </div>
                                                <div class="plan_inform">

                                                    <ul class="icon">
                                                        <li>25 </li>
                                                        <li>587</li>
                                                        <li>6</li>
                                                    </ul>
                                                    <p class="theme">친구와 함께 </p>
                                                    <p class="place">발리</p>
                                                    <p class="user"> 작성자 </p>
                                                </div>
                                            </a>

                                        </div>

                                        <div class="item">

                                            <a href="#">
                                                <div class="plan_image">
                                                    <img src="images/plan06.jpg">
                                                    <div class="txt">
                                                        <span class="date">2018-02-21</span>
                                                        <span class="days">7DAYS</span>
                                                        <p class="title">여행제목 작성하기</p>
                                                    </div>
                                                    <!--txt-->
                                                </div>
                                                <div class="plan_inform">

                                                    <ul class="icon">
                                                        <li>25</li>
                                                        <li>587</li>
                                                        <li>6</li>
                                                    </ul>
                                                    <p class="theme">친구와 함께</p>
                                                    <p class="place">발리</p>
                                                    <p class="user">작성자</p>
                                                </div>
                                            </a>

                                        </div>

                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </section>

                    <!-- 
                    <section th:object="${userUxRe}">
                        <div th:each="re: ${userUxRe}">
                            <span th:text="${re['Replace_name']}"></span>
                            <span>
                                &nbsp;</span>
                            <span th:text="${re['Replace_location']}"></span><span>&nbsp;</span>
                            <span th:text="${re['price']}"></span><span>&nbsp;</span>
                        </div>
                    </section>
                    <div>
                        <br>
                    </div>

                    <section th:object="${userUxadv}">
                        <div th:each="adv : ${userUxadv}">
                            <span th:text="${adv['adventureName']}"></span><span>&nbsp;</span>
                            <span th:text="${adv['adventureLocation']}"></span><span>&nbsp;</span>
                            <span th:text="${adv['adventurePrice']}"></span><span>&nbsp;</span>
                        </div>
                    </section> -->

                    <!-- 사용자 추천 기능 들어갈곳 -->
<!-- 
                    <section class="choo">
                        <div class="choo__box">
                            <div class="choo_img1"></div>
                            <div class="choo_img2"></div>
                            <div class="choo_img3"></div>
                            <div class="choo_img4"></div>
                        </div>
                    </section>

                    <section>
                        <div class="choo__box">
                            <div class="choo_img5"></div>
                            <div class="choo_img6"></div>
                            <div class="choo_img7"></div>
                            <div class="choo_img8"></div>

                        </div>
                    </section> -->

                    <!-- 광고 배너 -->
                    <section>
                        <div class="ad1"></div>
                    </section>

                    <section>
                        <div class="sec__title">숙소 추천</div>

                        <div class="home__box">
                            <div class="home">
                                <div class="home__img1"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        전남/고흥
                                    </div>
                                    <div class="info2">
                                        Naro Ocean Hills
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>

                            <div class="home">
                                <div class="home__img2"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        경북/경산
                                    </div>
                                    <div class="info2">
                                        SONGRIM HANOK
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>

                            <div class="home">
                                <div class="home__img3"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        경북/포항
                                    </div>
                                    <div class="info2">
                                        Poolvilla HARU
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>

                            <div class="home">
                                <div class="home__img4"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        경남/남해
                                    </div>
                                    <div class="info2">
                                        THEVIEW1151
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>

                            <div class="home">
                                <div class="home__img5"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        경북/포항
                                    </div>
                                    <div class="info2">
                                        NSOKU ryokan 
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>

                            <div class="home">
                                <div class="home__img6"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        강원/고성
                                    </div>
                                    <div class="info2">
                                        MONOSOME
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>

                            <div class="home">
                                <div class="home__img7"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        경북/포항
                                    </div>
                                    <div class="info2">
                                        QUERENCIA
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>

                            <div class="home">
                                <div class="home__img8"></div>
                                <div class="home__info">
                                    <div class="info1">
                                        경기/인천
                                    </div>
                                    <div class="info2">
                                        LINE POOLVILLA
                                    </div>
                                    <div class="info3"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                </main>

                <script th:src="@{/main/main.js}"></script>
            </section>
        </body>

    </html>