<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	**xmlns:sec="http://www.thymeleaf.org/extras/spring-security"**
	layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="notice_board.css"> -->
    <link rel="stylesheet" th:href="@{/notice_board/notice_board.css}">
</head>
<body>
    <!-- main -->
   <section layout:fragment="content" class="noticeBody">
    <div class="notice">

    <h1>게시판</h1>

    <h6></h6>

    <form action="">
		<!--검색기능 구현시 ajax로 받아와야할거 같음-->
        <span>검색</span>
        <select>
            <option value="subject" name="제목">제목</option>
            <option value="writer" name ="작성자">작성자</option>
            <option value="text" name ="본문">본문</option>
        </select>
        <input type="text" id="serch">
        <input type="button" value="검색">
    </form>
   

	<table border="1">
	        <tr>
	            <th>번호</th>
	            <th>작성자</th>
	            <th>제목</th>
	            <th>날짜</th>
	            <th>조회수</th>
	            <th>추천수</th>
	        </tr>
	        <tr th:each="post, iterStat : ${postList}">
	            <td th:text="${iterStat.index + 1}"></td>
	            <td th:text="${post.author}"></td>
	            <td th:text="${post.title}"></td>
	            <td th:text="${post.date}"></td>
	            <td th:text="${post.views}"></td>
	            <td th:text="${post.likes}"></td>
	        </tr>
	    </table>
		
					<!--	<div th:object="${pageMaker}">
		                    <div class="big-width" style="text-align: center">
		                        <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
		                        <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
		                            <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
		                            <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="${num}"><code th:text="${num}"></code></a>
		                        </th:block>
		                        <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
		                    </div>
		                    <div class="small-width" style="text-align: center">
		                        <a class="changePage" th:if="*{criteria.pageNum > 1}" th:href="*{criteria.pageNum - 1}"><code>&lt;</code></a>
		                        <code th:text="*{criteria.pageNum}"></code>
		                        <a class="changePage" th:if="*{criteria.pageNum < realEnd}" th:href="*{criteria.pageNum + 1}"><code>&gt;</code></a>
		                    </div>
		                    <form action="/post/noticeBoard/list" th:object="${criteria}" name="pageForm">
		                        <input type="hidden" name="pageNum" th:field="*{pageNum}">
		                        <input type="hidden" name="amount" th:field="*{amount}">
		                    </form>
		                </div>						-->

<!--   <div class="page">
    <a href="">이전</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">다음</a>
   </div>-->
   <span class="write_button">
    <a th:href="@{/post/noticeBoard/create}"><input type="button" class="write" value="글쓰기"></a>
   </span>
</div>
</section>

</body>
</html>