<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	**xmlns:sec="http://www.thymeleaf.org/extras/spring-security"**
	layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="notice_board.css"> -->
    <link rel="stylesheet" th:href="@{/notice_board/notice_board.css}">
</head>
<body>
    <!-- main -->
   <section layout:fragment="content" class="noticeBody">
    <div class="notice">

    <h1 th:if="${type.equals('noticeBoard')}">게시판</h1>
    <h1 th:if="${type.equals('review')}">리뷰</h1>
	
    <h6></h6>

    <form action="">
		<!--검색기능 구현시 ajax로 받아와야할거 같음-->
        <span>검색</span>
        <select>
            <option value="subject" name="제목">제목</option>
            <option value="writer" name ="작성자">작성자</option>
            <option value="text" name ="본문">본문</option>
        </select>
		<input type="text" name="keyword" th:value="${pageVo.keyword}" />
        <input type="button" value="검색">
    </form>
   

	<table border="1">
	        <tr>
	            <th>번호</th>
	            <th>작성자</th>
	            <th>제목</th>
	            <th>날짜</th>
	            <th>조회수</th>            
	        </tr>
	        <tr th:each="post, iterStat : ${list}">
	            <td th:text="${iterStat.index + 1}"></td>
	            <td th:text="${post.userName}"></td>
	            <td><a th:href="@{'/post/'+${type}+'/detail/'+${post.postID}}" th:text="${post.title}"></a></td>
	          	<td th:text="${post.updateDate}"></td>
	            <td th:text="${post.views}"></td>
	        </tr>
	    </table>
		
			<!--페이징 시작-->			
			<div id="pagination">
				<!-- 맨 처음 페이지로 이동하는 버튼 -->
			    <span th:if="${pageVo.startPage > 1}">
			        <a th:href="@{'/post/noticeBoard/list?page=1'}" th:text="'처음&emsp;'"></a>
			    </span>
			
				<!-- 이전 블록으로 이동하는 버튼 -->
			    <span th:if="${pageVo.isPrev == true}">
			    	<a th:href="@{'/post/noticeBoard/list?page='+${pageVo.startPage - 1}}" th:text="'이전'"></a>
			    </span>
			
			    <!-- 시퀀스 보여주는 값을 변경. -->
			    <span th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
			        <a class="div2" th:href="@{'/post/noticeBoard/list?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
			    </span>
				
			    <!-- 다음 블록으로 이동하는 버튼 -->
			    <span th:if="${pageVo.isNext == true}">
				<a th:href="@{'/post/noticeBoard/list?page='+|${pageVo.endPage + 1}|}" th:text="'다음'"></a>
			    </span>
				
			    <!-- 맨 뒷 페이지로 이동하는 버튼 -->
			    <span th:if="${pageVo.endPage < pageVo.totalPageCount}">
				<a th:href="@{'/post/noticeBoard/list?page='+${pageVo.totalPageCount}}" th:text="|&emsp;끝|"></a>
			    </span>
			</div>
			<!--페이징 종료-->
			
			
			
<!--   <div class="page">
    <a href="">이전</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">다음</a>
   </div>-->
   <span class="write_button" th:if="${type.equals('noticeBoard')}">
    <a th:href="@{/post/noticeBoard/create}"><input type="button" class="write" value="글쓰기"></a>
   </span>
</div>
</section>

</body>
</html>