<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="recommend.css">
</head>
<body>
    <section>
        <h1>***님의 추천여행지는 </h1>
        <!-- <select name="" id="local">
            <option value="">진해</option>
            <option value="">대전</option>
            <option value="">제주도</option>
        </select> -->
        <div><h3>1일차</h3><span>2023.05.10 - 제주도</span></div>
        <div class="recommend_adventure">
            <div class="adventure">
                <div>
                    <h4 class="abventure_name">관광지 이름</h4>
                    <button class="more-btn">이미지 더보기</button>
                </div>       
                <div class="image_left">
                    <ul class="image">
                        <li class="image_size">
                            <img src="진해/진해_경화역.JPG" alt="상품 이미지">
                        </li>
                        <li class="image_size">
                            <img src="진해/진해_경화역.JPG" alt="상품 이미지">
                        </li>
                    </ul>
                    <p class="">상세 설명</p>
                </div>
                <div>
                    <h4 class="abventure_name">관광지 이름</h4>
                    <a href="" class="more-btn">이미지 더보기</a>
                </div> 
                <div class="image_right">
                    <ul class="image">
                        <li class="image_size">
                            <img src="진해/진해_경화역.JPG" alt="상품 이미지">
                        </li>
                        <li class="image_size">
                            <img src="진해/진해_경화역.JPG" alt="상품 이미지">
                        </li>
                    </ul>                    
                </div>
                <div>
                    <p class="">상세 설명</p>   
                </div>  
                
            </div>    
        </div>
    </section>
    
    
    <script src="recommend.js"></script>

</body>
</html>