<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="registration_page.css">
</head>
<body>
    <div class="registration_page">
        <div class="form">
            <div class="title">
                <h1>여행지 등록하기</h1>
            </div>
        
            <table>
                
                <tr>
                    <th>작성 ID</th>
                    <td><input type="text" id="user_id" class="text"></td>
                </tr>
                <tr>
                    <th>여행지</th>
                    <td><input type="text" id="adventure" class="text"></td>
                </tr>
                <tr>
                    <th>한줄 소개글</th>
                    <td><input type="text" id="short_description" class="text"></td>
                </tr>
                <tr class="textarea">
                    <th>상세 설명</th>
                    <td><textarea id="textarea"></textarea></td>
                </tr>
                
                <tr>
                    <th>이미지 파일</th>
                    <td><input type="file"></td>
                </tr>
                <tr>
                    <th>지역</th>
                    <td>
                        <div>
                            <input type="radio" id="jinhae" name="local" value="jinhae" checked />진해
                    
                            <input type="radio" id="daejeon" name="local" value="daejeon" />대전
                    
                            <input type="radio" id="jeju" name="local" value="jeju" />제주도
                        </div>
                    </td>           
                </tr>
                <tr>
                    <th>테마</th>
                    <td>
                        <input type="checkbox" name="category" value="family" id="family">가족
                        <input type="checkbox" name="category" value="couple" id="couple">커플
                        <input type="checkbox" name="category" value="history" id="history">역사
                        <input type="checkbox" name="category" value="nature" id="nature">자연
                    </td>
        
                </tr>
                <tr>
                    <th>mbti</th>
                    <td>
                        <input type="checkbox" name="mbti" value="I--J" id="I--J">I--J
                        <input type="checkbox" name="mbti" value="I--P" id="I--P">I--P
                        <input type="checkbox" name="mbti" value="E--P" id="E--P">E--P
                        <input type="checkbox" name="mbti" value="E--J" id="E--J">E--J
                    </td>
                </tr>
        
        
            </table>
            <div class="button">
                <input type="button" class="registration" onclick="getValue()" value="등록">
            </div>
            
        </div>
        
    </div>
    
    
   
<script src="registration_page.js"></script>
</body>
</html>