<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	**xmlns:sec="http://www.thymeleaf.org/extras/spring-security"**
    layout:decorate="~{layout.html}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/common/common.css}">
  <link rel="stylesheet" th:href="@{/Review_Main/Review_Main.css}" />

  <script src="https://kit.fontawesome.com/664a7b3827.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>

	  <section class="reviewListBody" layout:fragment="content">
	    <div class="container">
	      <div class="rReview">Recent review<a class="create" th:href="@{/post/review/create}">작성</a></div>
		  
	      <div class="list">
	        <div class="post" >
				
	          <div class="postHead">
	            <div class="userContainer">
	              <div class="userImg"></div>
	              <a th:href="@{/post/review/detail}"><div class="userName" th:text="${#authentication.name}"></div></a>
	            </div>
	            <i class="fa fa-thumbs-up" aria-hidden="false"></i>
	            <div class="suggestion" ></div>
	          </div>
	          <div class="image-container">
	            <div  class="image">
	              <img  />
	              <img src="../../../../../Forntend/img/lBGuML5Vlxh0ENQZ9oTJr_zpCQTs65WBMmQLyQxpj2Wl5K1vzNRXbSXdU15S_2RZPSm4uP1uccjGC6KhWTBAeYA9sMsJ1vEvW1zaqALhkGT9a23yMqvvkXi5OO-foaB87uuwQdB9ysREenNubJwxDQ.webp" alt="로딩에 실패하였습니다."/>
	            </div>
	            
	            <div class="pagination">
	              <div  class="rectangle"
	                >
	              </div>
	              
	
	            </div>
	          </div>
	          <div class="textContent">
	            <p class="content" >
	              Exciting news shared today by the community!
	            </p>
	            <i class="fa fa-heart-o" aria-hidden="false" id="heart"></i>
	
	          </div>
	        </div>
	      </div>
		  <script th:src="@{/Review_Main/Review_Main.js}"></script>
	  </section>
		
	  <!--페이징 시작-->			
	  <div id="pagination">
	  				<!-- 맨 처음 페이지로 이동하는 버튼 -->
	  			    <span th:if="${pageVo.startPage > 1}">
	  			        <a th:href="@{'/post/review/list?page=1'}" th:text="'처음&emsp;'"></a>
	  			    </span>
	  			
	  				<!-- 이전 블록으로 이동하는 버튼 -->
	  			    <span th:if="${pageVo.isPrev == true}">
	  			    	<a th:href="@{'/post/review/list?page='+${pageVo.startPage - 1}}" th:text="'이전'"></a>
	  			    </span>
	  			
	  			    <!-- 시퀀스 보여주는 값을 변경. -->
	  			    <span th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
	  			        <a class="div2" th:href="@{'/post/review/list?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
	  			    </span>
	  				
	  			    <!-- 다음 블록으로 이동하는 버튼 -->
	  			    <span th:if="${pageVo.isNext == true}">
	  				<a th:href="@{'/post/review/list?page='+|${pageVo.endPage + 1}|}" th:text="'다음'"></a>
	  			    </span>
	  				
	  			    <!-- 맨 뒷 페이지로 이동하는 버튼 -->
	  			    <span th:if="${pageVo.endPage < pageVo.totalPageCount}">
	  				<a th:href="@{'/post/review/list?page='+${pageVo.totalPageCount}}" th:text="|&emsp;끝|"></a>
	  			    </span>
	  			</div>
	  		<!--페이징 종료--> 						

  
</body>

</html>