<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sign_up.css">
</head>
<body>
    <!-- loginAndSign main -->
    <div class="main">
        <div class="totLoginPage" id="totLoginPage">
            <form class="sign_up_form" name="sign_up_form">
                <div class="logo">
                    <p>로고</p>
                </div>
                <!-- sign_up_information -->
                <fieldset  id = sign_up>
                    <input type="text"  name="name" id="name" placeholder="이름" required><br>
                    <input type="textbox" name="id" id="id" placeholder="아이디" required><br>
                    <input type="password" name="password" id="pwd" placeholder="비밀번호" required><br>
                    <input type="password" name="password_check" id="pwd_2" placeholder="비밀번호 확인" required><br>                  
                    <input type="email" id="email"  placeholder="이메일" required> <br>
                        <!-- <span class="email_button">
                            <button id="btn" type="button">이메일 인증받기</button><br>
                        </span> -->                   
                    <input type="text"  name="phone" id="phone" placeholder="휴대전화번호 '-'빼고 숫자만 입력" required><br>

                    <select id="mbti" name="mbti" onchange="mt(this)">
                        <option>당신의 MBTI는?</option>
                        <option value="ISTJ">ISTJ</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="ISFP">ISFP</option>
                        <option value="INFP">INFP</option>
                        <option value="INTP">INTP</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ESTJ">ESTJ</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTJ">ENTJ</option>
                    </select>
                    <br> 
                    <select id="gender" name="gender" onchange="ex(this)">
                        <option>성별을 선택해 주세요</option>
                        <option value="여">여</option>
                        <option value="남">남</option>
                    </select><br>                    
                </fieldset>
                <br>
                <!--login_and_sign_btn-->   
                <input type="submit" id="sign_up_btn" value="회원가입">           
            </form>
                <a id= "lostIdAndLostPassword" href="">아이디/비밀번호 찾기</a><br>
                <!-- <a id= "SNS_Login" href="">SNS 아이디로 로그인</a>                -->
        </div>
    </div>
    <script src="sign_up.js"></script>
</body>
</html>