<!-- historyTEST-->

<h1> History</h1>
<div th:object="${reservation}">
	<h1 th:text="${reservation.size}"></h1>
	<table>
		<tr th:each="cart : ${reservation}">
			<td th:text="${cart.userName}">이름</td>
			<div th:if="${cart.replaceInfo} != null">
				<div>숙소 정보</div>
				<span>시작 날짜</span><span th:text="${cart.startDate}"></span>
				<span>종료 날짜</span><span th:text="${cart.endDate}"></span>
				<span th:text="${cart.replaceInfo.replaceName}"></span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.replaceInfo.replaceLocation}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.replaceInfo.replacePrice}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.replaceInfo.replaceContents}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.replaceInfo.R_rating_avg}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
			</div>
			<div th:unless="${cart.replaceInfo != null}">&nbsp;</div>
			<div th:if="${cart.adventureInfo != null}">
				<div>adventure 정보</div>
				<span>시작 날짜</span><span th:text="${cart.startDate}"></span>
				<span>종료 날짜</span><span th:text="${cart.endDate}"></span>
				<span th:text="${cart.adventureInfo.adventureName}"></span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.adventureInfo.adventureLocation}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.adventureInfo.adventurePrice}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.adventureInfo.adventureContent}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
				<span th:text="${cart.adventureInfo.ratingAvg}">&nbsp;</span>
				<sapn>&nbsp;</sapn>
			</div>
			<div th:unless="${cart.adventureInfo != null}">&nbsp;</div>
	</table>
</div>

<div>내가 쓴 게시글 </div>
<form th:object="${userPosts}">
	<div th:each="userPo : 	${userPosts}", th:name="${userPo.PostID}">
		<sapn th:text="${userPo['title']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['updateDate']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['PostCateGoryID']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['views']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['suggestion']}"></sapn>
		<sapn>&nbsp;</sapn>
	</div>
</form>
<div>내 문의 사항</div>
<form th:object="${userPosts}">
	<div th:each="qna :	${userQnAs}" th:name="${qna.QID}">
		<span th:text="${qna['Qname']}"></span><sapn>&nbsp;</sapn>
		<span th:text="${qna['updateDate']}"></span><sapn>&nbsp;</sapn>
		<span th:text="${qna['contents']}"></span><sapn>&nbsp;</sapn>
		<span th:text="${qna['Answer']}"></span><sapn>&nbsp;</sapn>		
	</div>
</form>