<!-- historyTEST-->

<h1> History</h1>
<div th:object="${reservation}">
	<table th:each="pay : ${reservation}">
		<p> 장소 이름</p><span th:text="${pay['itemName']}"></span>
		<sapn>&nbsp;</sapn>
		<p> 주인쟝</p><span th:text="${pay['admin']}"></span>
		<sapn>&nbsp;</sapn>
		<p> 장소</p><span th:text="${pay['location']}"></span>
		<sapn>&nbsp;</sapn>
		<p> 추천 타입</p><span th:text="${pay['mbti']}"></span>
		<sapn>&nbsp;</sapn>
		<p> 출발일</p><span th:text="${pay['startDate']}"></span>
		<sapn>&nbsp;</sapn>
		<p> 도착일</p><span th:text="${pay['endDate']}"></span>
		<sapn>&nbsp;</sapn>
		<p> 결제 여부 </p><span th:text="${pay['payments']}? 'finish': 'pay' "></span>
		<sapn>&nbsp;</sapn>
		<p> 전화번호</p><span th:text="${pay['tel']}"></span>
		<sapn>&nbsp;</sapn>
		<p> 가격</p><span th:text="${pay['price']}"></span>
		<sapn>&nbsp;</sapn>
	</table>

</div>

<div>내가 쓴 게시글 </div>
<form th:object="${userPosts}">
	<div th:each="userPo : 	${userPosts}", th:name="${userPo.PostID}">
		<sapn th:text="${userPo['title']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['updateDate']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['PostCateGoryID']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['views']}"></sapn>
		<sapn>&nbsp;</sapn>
		<sapn th:text="${userPo['suggestion']}"></sapn>
		<sapn>&nbsp;</sapn>
	</div>
</form>
<div>내 문의 사항</div>
<form th:object="${userPosts}">
	<div th:each="qna :	${userQnAs}" th:name="${qna.QID}">
		<span th:text="${qna['Qname']}"></span><sapn>&nbsp;</sapn>
		<span th:text="${qna['updateDate']}"></span><sapn>&nbsp;</sapn>
		<span th:text="${qna['contents']}"></span><sapn>&nbsp;</sapn>
		<span th:text="${qna['Answer']}"></span><sapn>&nbsp;</sapn>		
	</div>
</form>