<!--cart Main Th test

<div th:object="${userCarts}">
    <h1 th:text="${userCarts.size}"></h1>
    <table>
        <tr th:each="cart : ${userCarts}">
            <td th:text="${cart.userName}">이름</td>

			<div th:if="${cart.replaceInfo} != null">
				<div>숙소 정보</div>
				<span>시작 날짜</span><span th:text="${cart.startDate}"></span>
				<span>종료 날짜</span><span th:text="${cart.endDate}"></span>
						<span th:text="${cart.replaceInfo.replaceName}"></span><sapn>&nbsp;</sapn>
						<span th:text="${cart.replaceInfo.replaceLocation}">&nbsp;</span><sapn>&nbsp;</sapn>
						<span th:text="${cart.replaceInfo.replacePrice}">&nbsp;</span><sapn>&nbsp;</sapn>
						<span th:text="${cart.replaceInfo.replaceContents}">&nbsp;</span><sapn>&nbsp;</sapn>
						<span th:text="${cart.replaceInfo.R_rating_avg}">&nbsp;</span><sapn>&nbsp;</sapn>
					</div>
					<div th:unless="${cart.replaceInfo != null}">&nbsp;</div>
        <div th:if="${cart.adventureInfo != null}">
			<div>adventure 정보</div>	
			<span>시작 날짜</span><span th:text="${cart.startDate}"></span>
			<span>종료 날짜</span><span th:text="${cart.endDate}"></span>
			<span th:text="${cart.adventureInfo.adventureName}"></span><sapn>&nbsp;</sapn>
			<span th:text="${cart.adventureInfo.adventureLocation}">&nbsp;</span><sapn>&nbsp;</sapn>
			<span th:text="${cart.adventureInfo.adventurePrice}">&nbsp;</span><sapn>&nbsp;</sapn>
			<span th:text="${cart.adventureInfo.adventureContent}">&nbsp;</span><sapn>&nbsp;</sapn>
			<span th:text="${cart.adventureInfo.ratingAvg}">&nbsp;</span><sapn>&nbsp;</sapn>
		</div>
		<div th:unless="${cart.adventureInfo != null}">&nbsp;</div>
    </table>
</div>
-->











<h1>장바구니 내역</h1>
<div th:object="${userCarts}">
	<table th:each="pay : ${userCarts}">
			<p> 장소 이름</p><span th:text="${pay['itemName']}"></span><sapn>&nbsp;</sapn>
			<p> 주인쟝</p><span th:text="${pay['admin']}"></span><sapn>&nbsp;</sapn>
			<p> 장소</p><span th:text="${pay['location']}"></span><sapn>&nbsp;</sapn>
			<p> 추천 타입</p><span th:text="${pay['mbti']}"></span><sapn>&nbsp;</sapn>
			<p> 출발일</p><span th:text="${pay['startDate']}"></span><sapn>&nbsp;</sapn>
			<p> 도착일</p><span th:text="${pay['endDate']}"></span><sapn>&nbsp;</sapn>
			<p> 결제 여부 </p><span th:text="${pay['payments']}? 'finish': 'pay' "></span><sapn>&nbsp;</sapn>
			<p> 전화번호</p><span th:text="${pay['tel']}"></span><sapn>&nbsp;</sapn>
			<p> 가격</p><span th:text="${pay['price']}"></span><sapn>&nbsp;</sapn>
		</table>
</div>




<h1 th:text="${sumPrice}"></h1><span>원</span>