<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    **xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    **="**"
    layout:decorate="~{layout.html}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>main</title>
        <link rel="stylesheet" th:href="@{/common/common.css}">
        <link rel="stylesheet" th:href="@{/sakuraJS/sakura.min.css}">
        <link rel="stylesheet" th:href="@{/main/main.css}">
        <link rel="stylesheet" th:href="@{/main/slide.css}">
        <script th:src="@{/sakuraJS/sakura.min.js}"></script>
    </head>

    <body>
        <section class="mainBG" layout:fragment="content">
            <header class="mainHeader">
                <section class="mainHeaderSec">
                    <div class="search__box">
                        <form method="post" action="/searchLocation" id="searchForm">
                            <div class="search__title">
                                자기 성향에 맞는 숙소를 예약하세요
                                <br/>
                                즐길거리를 예약하세요.
                            </div>

                            <table>
                                <tr>
                                    <td colspan="2" class="search__sub__title">여행지</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input
                                            class="search__input"
                                            type="text"
                                            placeholder="시 단위로 입력해주세요"
                                            autocomplete="off"
                                            name="location">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="autocomplete"></div>
                                    </td>
                                </tr>
                                <!--<tr> <td class="search__sub__title">체크인</td> <td
                                class="search__sub__title">체크아웃 </td> </tr> <tr> <td><input
                                class="search__input" type="date"/></td> <td><input class="search__input"
                                type="date"/></td> </tr> <tr> <td colspan="2" class="search__sub__title"> 인원
                                </td> </tr> <tr> <td colspan="2"> <select class="search__input">
                                    <option>인원</option> <option>1명</option> <option>2명</option> <option>3명</option>
                                </select> </td> </tr>-->
                            </table>
                            <div class="search__button">
                                <button>검색</button>
                            </div>
                        </form>
                    </div>

                </section>
            </header>

            <!-- 사용자 추천 기능 들어갈곳 -->
            <section>
                <div class="slide slide_wrap">
                    <div class="slide_item item1"></div>
                    <div class="slide_item item2">2</div>
                    <div class="slide_item item3">3</div>
                    <div class="slide_item item4">4</div>
                    <div class="slide_item item5">5</div>
                    <div class="slide_prev_button slide_button">◀</div>
                    <div class="slide_next_button slide_button">▶</div>
                    <ul class="slide_pagination"></ul>
                </section>

                <!-- 광고 배너 -->
                <section>
                    <div class="ad1"></div>
                </section>

                <section class="con3" th:object = "${userUxadv}">
                    <div class="con3_wrap" th:each = "adv : ${userUxadv}" >
                        <h3>어디로 갈까?</h3>

                        <div class="trip">
                            <ul class="trip1">
                                <li>
                                    <a href="#">
                                        <div class="trip_img1">
                                            <img
                                            class=""
                                            src=""
                                            alt=""
                                            />
                                        </div>
                                        <div class="trip_inform">
                                            <p class=>대한민국의 여행지</p>
                                            <p> 어디를 가서 무엇을 봐야할지 도저히 감이 잡히지 않는다면, 필수 스팟을 중심으로 둘러보자.</p>

                                        </div>
                                    </a>

                                </li>
                                <li>
                                    <a href="#">
                                        <div class="trip_img2">
                                            <img
                                            class=""
                                            src=""
                                            alt="로딩실패"
                                            />
                                        </div>
                                        <div class="trip_inform">
                                            <p class="title"  th:text="${adv['itemName']}">대구 이월드</p>
                                            <p >이월드 블라썸 피크닉은 벚꽃을 시작으로 튤립까지 이어지는 다채로운 꽃들로..</p>

                                        </div>
                                    </a>

                                </li>
                                <li>
                                    <a href="#">
                                        <div class="trip_img3">
                                            <img
                                            class=""
                                            src=""
                                            alt="로딩실패"
                                            />
                                        </div>
                                        <div class="trip_inform">
                                            <p class="title">함평 나비축제</p>
                                            <p>
                                                세계 각국의 나비와 곤충 표본 450종 9,000여 마리를 구경하고..</p>

                                        </div>
                                    </a>

                                </li>
                            </ul>
                            <ul class="trip2">
                                <li>
                                    <a href="#">
                                        <div class="trip_img4">
                                            <img
                                            class=""
                                            src=""
                                            alt="로딩실패"
                                            />
                                        </div>
                                        <div class="trip_inform">
                                            <p class="title">역사의 도시 경주</p>
                                            <p>역사와 문화제와 미래가 공존하는 도시 경주...</p>

                                        </div>
                                    </a>

                                </li>
                                <li>
                                    <a href="#">
                                        <div class="trip_img5">
                                            <img
                                            class=""
                                            src=""
                                            alt="로딩실패"
                                            />
                                        </div>
                                        <div class="trip_inform">
                                            <p class="title">예술여행의 도시 광주</p>
                                            <p>민주화의 성지이자 식도락의 천국이라고 알려진 도시를..</p>

                                        </div>
                                    </a>

                                </li>
                                <li>
                                    <a href="#">
                                        <div class="trip_img6">
                                            <img
                                            class=""
                                            src=""
                                            alt=""
                                            />
                                        </div>
                                        <div class="trip_inform">
                                            <p class="title">멋과 맛이 가득한 부산으로 오이소~</p>
                                            <p>넘실거리는 파도와 그 위를 아찔하게 달리는 서퍼들, 그리고 정감 넘치는 음식까지. 부산만큼 볼거리, 먹거리, 체험거리를 두룬 갖춘 대규모
                                                관광지가 또 있을까.</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </section>
                <section>
                    <div class="sec__title">숙소 추천</div>

                    <div class="home__box" th:object="${UserUXs}">
                        <div class="home" th:each="ux : ${UserUXs}">
                            <div class="home__img">
                                <img class="" src="" alt="로딩실패"/>
                            </div>

                            <div class="home__info">
                                <div class="info1" th:text="${ux['replaceLocation']}">
                                    전남/고흥
                                </div>
                                <div class="info2" th:text="${ux['replaceName']}">
                                    Naro Ocean Hills
                                </div>
                                <div class="info3"></div>
                            </div>
                        </div>

                    </main>

                    <script th:src="@{/main/slide.js}"></script>
                    <script type="module" th:src="@{/main/main.js}"></script>
                </section>
            </body>

        </html>