<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	**xmlns:sec="http://www.thymeleaf.org/extras/spring-security"**
	layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
	<link rel="stylesheet" th:href="@{/common/common.css}">
	<link rel="stylesheet" th:href="@{/sakuraJS/sakura.min.css}">
    <link rel="stylesheet" th:href="@{/main/main.css}">
	<script th:src="@{/sakuraJS/sakura.min.js}"></script>
</head>

<body>
<section class="mainBG" layout:fragment="content">
    <header class="mainHeader">
        <section class="mainHeaderSec">
            <div class="search__box">
                <div class="search__title">자기 성형에 맞는 숙소를 예약하세요
                    <br /> 
                    즐길거리를 예약하세요.
                </div>

                <table>
                    <tr>
                        <td colspan="2" class="search__sub__title">목적지</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="search__input" type="text" placeholder=" 모든 위치"></td>
                    </tr>
                    <tr>
                        <td class="search__sub__title">체크인</td>
                        <td class="search__sub__title">체크아웃</td>
                    </tr>
                    <tr>
                        <td><input class="search__input"  type="date" /></td>
                        <td><input class="search__input"  type="date" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="search__sub__title">인원</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <select class="search__input" >
                                <option>인원</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="search__button"><button>검색</button></div>
            </div>

        </section>
    </header>

    <main class="mainCon">
        <section>
            <!--UX TEST -->
<h1>사용자 맞춤형 루틴 정보</h1>
<form th:object="${UserUXs}">
   <div th:each="ux : ${UserUXs}">
      <p>숙소 정보</p>
      <span th:text="${ux['replaceName']}"></span><span>   &nbsp;</span>
      <span th:text="${ux['replaceAdmin']}"></span><span>&nbsp;</span>
      <span th:text="${ux['replacePrice']}"></span><span>&nbsp;</span>
      <span th:text="${ux['replaceLocation']}"></span><span>&nbsp;</span>
      <span th:text="${ux['replaceTel']}"></span><span>&nbsp;</span>
      <span th:text="${ux['replaceContents']}"></span><span>&nbsp;</span>
      <span th:text="${ux['replaceRating']}"></span><span>&nbsp;</span>
      <p>놀거리 정보</p>
      <span th:text="${ux['adventure']}"></span><span>   &nbsp;</span>
      <span th:text="${ux['adventureAdmin']}"></span><span>&nbsp;</span>
      <span th:text="${ux['adventurePrice']}"></span><span>&nbsp;</span>
      <span th:text="${ux['adventureLocation']}"></span><span>&nbsp;</span>
      <span th:text="${ux['adventureTel']}"></span><span>&nbsp;</span>
      <span th:text="${ux['adventureContents']}"></span><span>&nbsp;</span>
      <span th:text="${ux['adventureRatring']}"></span><span>&nbsp;</span>
   </div>
   <p>사용자 맞춤형 루틴 </p>   
</form>
<h1>사용자 맞춤형 숙소</h1>
<section th:object="${userUxRe}">
   <div th:each="re: ${userUxRe}">
      <span th:text="${re['itemName']}"></span><span>   &nbsp;</span>
      <span th:text="${re['location']}"></span><span>&nbsp;</span>
      <span th:text="${re['price']}"></span><span>&nbsp;</span>
      <span th:text="${re['ratingAvg']}"></span><span>&nbsp;</span>      
<!--<span th:text="${ux['adventureName']}"></span><span>&nbsp;</span>
      <span th:text="${ux['adventureLocation']}"></span><span>&nbsp;</span>
      <span th:text="${ux['adventurePrice']}"></span><span>&nbsp;</span> -->
   </div>   
</section>
<div>
   <br>
</div>
<h1>사용자 맞춤형 놀거리</h1>
<section th:object = "${userUxadv}">
   <div th:each = "adv : ${userUxadv}">
      <span th:text="${adv['itemName']}"></span><span>&nbsp;</span>
      <span th:text="${adv['location']}"></span><span>&nbsp;</span>
      <span th:text="${adv['price']}"></span><span>&nbsp;</span>
      <span th:text="${adv['ratingAvg']}"></span><span>&nbsp;</span>
   </div>
</section>


<section>
   <div> 사용자가 최근에 조회한 게시물</div>
   <div th:each="userViewType : ${userViewInfo}">
      <div>cut</div>
       <div th:switch="${userViewType[0].class.simpleName}">
           <p th:case="'ItemDTO'">
               <span th:each="userView : ${userViewType}">
                   <!-- ItemDTO의 필드에 접근하여 출력 -->
                   <span th:text="${userView.itemID}"></span>
                   <span th:text="${userView.itemName}"></span>
               <span th:text="${userView.location}"></span>
               <span th:text="${userView.contents}"></span>
               <span th:text="${userView.price}"></span>
               <!-- 필요한 경우 다른 필드도 추가 -->
               <h1> zzz</h1>   
            </span>
            
           </p>
           <p th:case="'PostDTO'">
               <span th:each="userView : ${userViewType}">
                   <!-- PostDTO의 필드에 접근하여 출력 -->
                   <span th:text="${userView.postID}"></span>
                   <span th:text="${userView.title}"></span>
               <span th:text="${userView.content}"></span>
               <span th:text="${userView.updateDate}"></span>
                   <!-- 필요한 경우 다른 필드도 추가 -->
               </span>
           </p>
       </div>
   </div>
   
</section>


</section>
<div>
   <br>
</div>
<h1>사용자 맞춤형 놀거리</h1>
<section th:object = "${userUxadv}">
   <div th:each = "adv : ${userUxadv}">
      <span th:text="${adv['itemName']}"></span><span>&nbsp;</span>
      <span th:text="${adv['location']}"></span><span>&nbsp;</span>
      <span th:text="${adv['price']}"></span><span>&nbsp;</span>
      <span th:text="${adv['ratingAvg']}"></span><span>&nbsp;</span>
   </div>
</section>


<section>
   <div> 사용자가 최근에 조회한 게시물</div>
   <div th:each="userViewType : ${userViewInfo}">
      <div>cut</div>
       <div th:switch="${userViewType[0].class.simpleName}">
           <p th:case="'ItemDTO'">
               <span th:each="userView : ${userViewType}">
                   <!-- ItemDTO의 필드에 접근하여 출력 -->
                   <span th:text="${userView.itemID}"></span>
                   <span th:text="${userView.itemName}"></span>
               <span th:text="${userView.location}"></span>
               <span th:text="${userView.contents}"></span>
               <span th:text="${userView.price}"></span>
               <!-- 필요한 경우 다른 필드도 추가 -->
               <h1> zzz</h1>   
            </span>
            
           </p>
           <p th:case="'PostDTO'">
               <span th:each="userView : ${userViewType}">
                   <!-- PostDTO의 필드에 접근하여 출력 -->
                   <span th:text="${userView.postID}"></span>
                   <span th:text="${userView.title}"></span>
               <span th:text="${userView.content}"></span>
               <span th:text="${userView.updateDate}"></span>
                   <!-- 필요한 경우 다른 필드도 추가 -->
               </span>
           </p>
       </div>
   </div>
   
</section>
            <!-- 사용자 추천 기능 들어갈곳 -->
        <section>
			            <div class="review">123</div>
			            <!--UX TEST -->
			<h1>사용자 맞춤형 루틴 정보</h1>
            
			<form th:object="${UserUXs}">
			   <div th:each="ux : ${UserUXs}">
			      <span th:text="${ux['Replace_name']}"></span><span>   &nbsp;</span>
			      <span th:text="${ux['Replace_location']}"></span><span>&nbsp;</span>
			      <span th:text="${ux['price']}"></span><span>&nbsp;</span>
			      <span th:text="${ux['adventureName']}"></span><span>&nbsp;</span>
			      <span th:text="${ux['adventureLocation']}"></span><span>&nbsp;</span>
			      <span th:text="${ux['adventurePrice']}"></span><span>&nbsp;</span>
			   </div>   
			</form>

<section th:object="${userUxRe}">
   <div th:each="re: ${userUxRe}">
      <span th:text="${re['Replace_name']}"></span><span>   &nbsp;</span>
      <span th:text="${re['Replace_location']}"></span><span>&nbsp;</span>
      <span th:text="${re['price']}"></span><span>&nbsp;</span>
   </div>   
</section>
<div>
   <br>
</div>

<section th:object = "${userUxadv}">
   <div th:each = "adv : ${userUxadv}">
      <span th:text="${adv['adventureName']}"></span><span>&nbsp;</span>
            <span th:text="${adv['adventureLocation']}"></span><span>&nbsp;</span>
            <span th:text="${adv['adventurePrice']}"></span><span>&nbsp;</span>
   </div>
</section>
   
        </section>
             <!-- 사용자 추천 기능 들어갈곳 -->
        <!-- </section>
            <div class="choo__box">
                <div class="choo_img1"></div>
                <div class="choo_img2"></div>
                <div class="choo_img3"></div>
                <div class="choo_img4"></div>
                <div class="choo_img5"></div>
            </div>
        
        <section>
            <div class="choo__box">
                <div class="choo_img6"></div>
                <div class="choo_img7"></div>
                <div class="choo_img8"></div>
                <div class="choo_img9"></div>
                <div class="choo_img10"></div>
            </div>
        </section> -->

        <!-- 광고 배너 -->
        <section>
            <div class="ad1"></div>
        </section>

        <section>
            <div class="sec__title">숙소 추천</div>

            <div class="home__box">
                <div class="home">
                    <div class="home__img1"></div>
                    <div class="home__info">
                        <div class="info1">오두막 · BALIAN BEACH, BALI</div>
                        <div class="info2">BALIAN TREEHOUSE w beautiful pool</div>
                        <div class="info3">
                        </div>
                    </div>
                </div>

                <div class="home">
                    <div class="home__img2"></div>
                    <div class="home__info">
                        <div class="info1">키클라데스 주택 · 이아(OIA)</div>
                        <div class="info2">Unique Architecture Cave House</div>
                        <div class="info3">
                        </div>
                    </div>
                </div>

                <div class="home">
                    <div class="home__img3"></div>
                    <div class="home__info">
                        <div class="info1">성 · 트웬티나인 팜스(TWENTYNINE PALMS)</div>
                        <div class="info2">Tile House</div>
                        <div class="info3">
                        </div>
                    </div>
                </div>

                <div class="home">
                    <div class="home__img4"></div>
                    <div class="home__info">
                        <div class="info1">검증됨 · 케이프타운</div>
                        <div class="info2">Modern, Chic Penthouse with Mountain, City & Sea Views</div>
                        <div class="info3">
                        </div>
                    </div>
                </div>

                <div class="home">
                    <div class="home__img5"></div>
                    <div class="home__info">
                        <div class="info1">아파트 전체 · 마드리드(MADRID)</div>
                        <div class="info2">솔광장에 위치한 개인 스튜디오</div>
                        <div class="info3">
                        </div>
                    </div>
                </div>

                <div class="home">
                    <div class="home__img6"></div>
                    <div class="home__info">
                        <div class="info1">집 전체 · HUMAC</div>
                        <div class="info2">Vacation house in etno-eco village Humac</div>
                        <div class="info3">
                        </div>
                    </div>
                </div>

                <div class="home">
                    <div class="home__img7"></div>
                    <div class="home__info">
                        <div class="info1">개인실 · 마라케시</div>
                        <div class="info2">The Cozy Palace</div>
                        <div class="info3">
                        </div>
                    </div>
                </div>

                <div class="home">
                    <div class="home__img8"></div>
                    <div class="home__info">
                        <div class="info1">게스트용 별채 전체 · 로스앤젤레스</div>
                        <div class="info2">Private Pool House with Amazing Views!</div>
                        <div class="info3">

                        </div>
                    </div>
                </div>
            </div>
        </section>



        
    </main>
	
	<script th:src="@{/main/main.js}"></script>
	</section>
</body>

</html>