<!DOCTYPE html>
<html lang="en"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   **xmlns:sec="http://www.thymeleaf.org/extras/spring-security"**
    layout:decorate="~{layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <!-- CKEeditor CDN -->
  <script th:src="@{/ckeditor5-build-classic/build/ckeditor.js}"></script>
  <script type="module" th:src="@{/ckeditor5-build-classic/editor.js}"></script>
  <link rel="stylesheet" th:href="@{/write/write_form.css}">
</head>
<body>
<section layout:fragment="content" class="writeBody">
<div class="container">
  
  <form id="Form"  method="POST">
   <select name="postCategoryID" id="category">
           <option value="1">리뷰</option>
           <option value="2">게시판</option>
       </select>
    <input type="text" name="title" id="title" placeholder="제목을 입력하세요" required>
    <textarea id="content" name="content"></textarea>
    <button type="submit" class="submitBtn">작성</button>
  </form>
</div>
<script type="module" th:src="@{/write/write_form.js}"></script>
</section>



</body>
</html>
