@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}


body{
	overflow-x: hidden
}
.headerCon{
	width: 100%;
    display: flex;
   	gap: 1rem;
    padding: 1rem 2rem;
	position: absolute;
	flex-direction: row;
	justify-content: right;
}

.tab:hover{
	color:var(--secondary-color);
}
.top-bar {
  background: white;
  padding: 3rem 1.5rem 3rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content:space-between;
  height: 10vh;
  box-shadow: 0rem 0rem 0.375rem 0rem black;
  
}
.top-bar a{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.logoIcon {
  background: black;
  border-radius:50%; 
  width: 4rem;
  height: 4rem;
  position: relative;
}
.MainLogo {
  color: black;
  transform: translateY(0.5rem);
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;
  
  
}
.userBox {
  border-radius:5rem;
  border: 1px solid black;
  padding: 0rem 1vw 0rem 1vw;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  height: 4rem;
 
}

.profileBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.userImg {
  background: black;
  border-radius: 2rem;
  left: 0px;
  width: 3.125rem;
  height: 3.125rem;

  overflow: hidden;
}

.userName {
  color: black;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 500;
  position: relative;
  width: 8.0625rem;
  height: 2.1875rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon-menu {
  transition: transform 0.5s ease;
  z-index: 999999999999;
  width: 65%; height: 65%;
  margin-top: 0.7rem;
}

.profile{
  transform: translate(-1rem, 8rem);
  right: 1rem;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 20rem;
  transition: transform 0.5s ease-in-out;
 border: 0.0525rem solid lightgray;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white);
  
}
.profile.disActive {
  transform: translate(60rem, 8rem);
 
}
.profileBox{
  
  padding: 1rem;
}
.profileItems{
  display: flex;
  border-top: 1px solid black;
  
  padding: 1rem 2rem;
}
#topless{
  border: 0;
}
.profileItems a{
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profileItems a>p,.profileItems a>i{
  font-size: 1.3rem;
}
.profileItems >i{
  transform: translateY(0.3rem);
}
.fa-solid,fa-regular{
  color: black;
}
.title {
  color: black;
  text-align: left;
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.5rem;
  position: relative;
  padding: 1.5rem;
  align:left;
}
.tab {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1rem;
  /* line-height: 1.5rem; */
  font-weight: 3rem;
  display: flex;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.tab > .cDropdownC {
    position: absolute;
    border: 1px solid black;
    background-color: white;
	transform: translate(-2rem,2.5rem);
    width: 10rem;
    padding: 0.5rem;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    text-decoration: none;
	list-style: none;
}

.tab:hover > .cDropdownC {
    opacity: 1;
    visibility: visible;
}
.dropA{
	color: black;
	text-decoration: none;
	list-style: none;
	margin:1rem;

}
.cDropdownC>li{
	margin:0.5rem;
}