@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+KR&display=swap');
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}


body{
	overflow-x: hidden
}
.HheaderCon{
	width: 100%;  
    display: flex;
   	gap: 0.2rem;
    /* padding: 1rem 2rem; */
	position: absolute;
	flex-direction: row;
	justify-content: space-between;
	z-index: 100;
  margin: 1rem 0;
  
}



.tab:hover{
	color:var(--secondary-color);
}
.top-bar {
  background: black;
  /* padding: 3rem 1.5rem 3rem 3rem; */
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content:space-between;
  /* height: 10vh; */
  box-shadow: 0rem 0rem 0.375rem 0rem black;
  
}
.top-bar a{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.logoIcon {
  background: black;
  border-radius:50%; 
  width: 4rem;
  height: 4rem;
  position: relative;
}
.MainLogo {
  color: black;
  transform: translateY(0.5rem);
   font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;
  
  
}
.userBox {
  margin-top: 10px;
  border-radius:5rem;
  /* border: 1px solid white;  */
  display: flex;
  justify-content: space-between;
  width:fit-content;
  height: 4rem;
  padding: 0 1rem 0;

}

.profileBox {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.userImg {
  background: black;
  border-radius: 2rem;
  left: 0px;
  width: 2.125rem;
  height: 2.125rem;
  text-align: left;
  overflow: hidden;
}

.userName {
  color: black;
  text-align: left;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2.25rem;
  font-weight: 500;
  position: relative;
  width: fit-content;
  height: 2.1875rem; 
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0.5rem 0.7rem 0 ;
}
.icon-menu {
  transition: transform 0.5s ease;
  z-index: 999999999999;
  height: 40%;
  margin-top: 1.1rem;
}

.profile{
  transform: translate(-1rem, 8rem);
  right: 1rem;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 20rem;
  transition: transform 0.5s ease-in-out;
  border: 0.0525rem solid black;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--white);
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.profile.disActive {
  transform: translate(60rem, 8rem);
 
}
.profileBox{
  
  /* padding: 1rem; */
}
.profileItems{
  display: flex;
  border-top: 1px solid black;
  padding: 1rem 2rem;
}
#topless{
  border: 0;
}
.profileItems a{
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.profileItems a>p,.profileItems a>i{
  font-size: 1.3rem;
}
.profileItems >i{
  transform: translateY(0.3rem);
}
.fa-solid,fa-regular{
  color: black;
}
.Htitle {
  /*background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/18/4f06c1cc-4888-4353-9a7d-ebe01f0ca25d2-3.png);*/
  background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/18/174475cc-c9ba-4cae-a3d4-c48dc1415fd4KakaoTalk_20240418_211135672.png);
  width: 240px;
  height: 65px;
  position: relative;
  margin: 0rem 15rem 2em 2rem;
  text-align: center;
  background-size: contain;
}
.tab {
  color: black;
  font-size: 1rem;
  /* line-height: 1.5rem; */
  display: flex;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.tab > .cDropdownC {
    position: absolute;
    border: 1px solid black;
    background-color: white;
	transform: translate(-2rem,2.5rem);
    width: 10rem;
    padding: 0.5rem;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    text-decoration: none;
	list-style: none;
}

.tab:hover > .cDropdownC {
    opacity: 1;
    visibility: visible;
}
.dropA{
	color: black;
	text-decoration: none;
	list-style: none;
	margin:1rem;

}
.cDropdownC>li{
	margin:0.5rem;
}
.HeaderR{
  display: flex;
}