*{
    padding: 0;
    margin: 0;
}
#contents{
    display: flex;
    justify-content: center;
}

#adventure_detail{
    width: 50rem;
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 1.87rem;
    text-align: center;
}

.detail_tab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid;
    text-align: center;
    padding: 0.62rem;
    margin-top: 0.62rem;
}

.detail_tab ul li{
    list-style: none;
    
}

.detail_tab ul li a{
    text-decoration-line: none;
    color: black;
}

.photo__img{
    margin-top: 1.25rem;
    margin-bottom: 5px;
}
.photo__inner .photo img{
    width: 50rem;
    height: 32rem;
    object-fit: cover;
}

#detail_text{
    margin-bottom: 1.87rem;
}

#tel_and_price{
    margin-bottom: 1.87rem;
    
}

h6{
    border: 0;
    height: 2px;
    background-color:  #d3d3d3;
}

#review{
    margin-bottom: 1.87rem; 
}

#wirte_from{
    width: 100%;
    height: 5rem;
    resize: none;
}

.oK_button{
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: row-reverse;
}

.oK_button input{
   
    padding: 0.62rem;
    border-radius: 0.3em;
    background-color: #FFD8E4;
}



#review_list ul{
    background-color: #d3d3d3;
    border: 1px solid;
    border-color: white;
    
}