body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.itemBody{
	display: flex;
	justify-content: center;
	padding: 10rem 0 5rem;
	gap: 1rem;
}
.container,.cart_box {

    max-width: 800px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.img_box img{
	width: 100%;
}
.imgCon_mini{
	width: 100%;
	display: flex;
	overflow-x: scroll;
	align-items: end;
	
}
.img_box_mini{
	width: 10%;
	background-size: auto;
}
.img_mini{
	width: 100%;
}
.item-details {
    padding: 20px;
}

.item-name {
    font-size: 28px;
    margin-bottom: 20px;
}

.item-info {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.info-item span {
    font-weight: bold;
}
.img_box.disVeiw{
	display: none;
}
.cart_box,.date_box{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.cart_box{
	padding: 2rem;
}
button{
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
}
input[type="date"]{
	font-size: 1.2rem;
}
.btnCon{
	display: flex;
	gap: 2rem;
}