
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mainHeader {
   background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_11.jpg");
	padding-top: 5rem;
    height: 880px;
    background-size: 100% 100%;
}


.search__box {
    width: 800px;
    display: inline-block;
    padding: 20px 30px;
    background-color: white;
    position: relative  ;
    top :50px;
    left: 150px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
   
}

.search__title {
    padding: 10px 0;
    font-size: 30px;
    font-weight: 800;
    color:rgb(75, 74, 74);
}



.search__sub__title {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
}


.rImg{
	width: 730px; height: 400px;

	border: 1px solid lightgray;
}
.replaceCon >h4{
	margin :1rem 0;
}
.mainCon {  
    margin: 30px 80px;
}
/*.after{
	position:relative;
	width: 100px; height: 100px;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 2rem;
	transform: translate(160px, -120px);
}*/
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem auto;
  background-color: white;
}
/* 테이블 행 */
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  padding: 8px;
  text-align: left;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  color: #000;
}

/* 테이블 올렸을 때 */
tbody tr:hover {
  background-color: #d3d3d3;
  opacity: 0.9;
  cursor: pointer;
}

/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
  width: 5%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 55%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}

th, td {
  border-left: none;
  border-right: none;
}