* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mainHeader {
   background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_11.jpg");
	padding-top: 5rem;
    height: 880px;
    background-size: 100% 100%;
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo {
    color: white;
    font-size: 35px;
    font-weight: 800;
}

.menu ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 30px;
    list-style-type: none;
}

.menu ul a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.search__box {
    /* width: 430px; */
    display: inline-block;
    padding: 20px 30px;
    background-color: white;
    position: relative  ;
    top: 10px;
    left: 50px;
    border-radius: 50px;
    margin-top: 3rem;
    box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
  
}

.search__title {
    font-family: 'NanumSquareNeo';
    padding: 10px 0;
    font-size: 30px;
    font-weight: 800;
    color:rgb(75, 74, 74);
}

table {
    width: 100%;
}

.search__sub__title {
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
}

.search__input {
    height: 45px;
    width: 100%;
    color: black;
    font-size: 15px;
    border: 1px solid rgb(230, 227, 227);
}

.search__button {
    display: grid;
    justify-content: end;
    padding: 20px 0;
}

.search__button button{
    background-color: #FF5A5F;
    color:white;
    width: 70px;
    height: 45px;
    font-size: 15px;
    font-weight: 700; /*굵기*/
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}

.slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;
  
    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;
  
    /* size */
    width: 100%;
  
    /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
    user-select: none;
  }
  .slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;
  
    /* size */
    width: 100%;
    height: 300px;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;
  
    /* transition */
    transition: left 0.15s;
  }
  .slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);
  
    /* size */
    width: 32px;
    height: 32px;
  
    /* style */
    border-radius: 100%;
    background-color: #cccc;
    cursor: pointer;
  }
  
  .slide_prev_button {
    left: 10px;
  }
  .slide_next_button {
    right: 10px;
  }
  
  /* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
  .slide_item.item1 {
    background-image: url();
  }
  .slide_item.item2 {
    background-image: url();
  }
  .slide_item.item3 {
    background-image: url();
  }
  .slide_item.item4 {
    background-image: url();
  }
  .slide_item.item5 {
    background-image: url();
  }
  
  /* 페이지네이션 스타일 */
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;
  
    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
  }
  .slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: pink;
    cursor: pointer;
    font-size: 25px;
  }
  .slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color:pink;
  }
  
  .slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
  }
  
  /* 페이지네이션 스타일 */
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;
  
    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
  }
  .slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: pink;
    cursor: pointer;
    font-size: 25px;
  }
  .slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: pink;
  }
  
  .slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
  }


  

.mainCon {  
    margin: 30px 80px
}
.sec__title{
    /* font-family: ; */
    font-weight: 400px;
    font-size: 30px;
    text-align: center;
    /* margin-top: 3rem; */
}

.sec__title2 {
    font-size: 25px;
    font-weight: 800;
    color:rgb(68, 66, 66);
}

.card__img1 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.card__img2 {
    background-image: url("../images/card2.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.card__img3 {
    background-image: url("../images/card3.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.card__img4 {
    background-image: url("../images/card4.jpg");
    height: 70px;
    background-size: 100% 100%;
}

.card__content {
    display: grid;
    align-items: center;
    font-weight: 600;
    margin: 0 0 0 10px;
}
.card__box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid rgb(212, 210, 210);
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgb(172, 170, 170);
}



.ad1 {
    margin: 20px 0;
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_10.png");
    height: 380px;
    background-size: 100% 100%;
    display: flex;
    border-radius: 20px;
}

.choo__box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.choo_img1 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}

.choo_img2 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}

.choo_img3 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}

.choo_img4 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}

.choo_img5 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}
.choo_img6 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}

.choo_img7 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}

.choo_img8 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/main/KakaoTalk_20240408_095112921_01.jpg");
    height: 300px;
    background-size: 100% 100%;
}

.home__box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 5rem;
}

.home__img1 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/6baf9f05-633e-4fe4-b3a8-cf443520f7522.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.home__img2 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/3c3d7909-98e6-4b98-b87c-42cc5bdf2961한옥.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.home__img3 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/1346ebd6-658f-47fb-8aa9-5977aebb4eac경북.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.home__img4 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/f6c5e8c8-558b-47d9-a368-916f1816a8d5경남.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.home__img5 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/14c36164-8611-4b72-9a2a-623294f53c50료칸.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.home__img6 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/18f4fc23-69fd-4257-b2a2-fd00e017d1ef모노섬.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.home__img7 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/3c8a9a24-f3e7-4206-b1f0-74314e857ac9포항.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.home__img8 {
    background-image: url("https://storage.googleapis.com/kdt3th_project/2024/04/11/626c91a9-a1b8-4079-856c-02da1d2b9a3c경기.jpg");
    height: 280px;
    background-size: 100% 100%;
}

.info1 {
    margin: 5px 0;
    font-size: 13px;
    color:gray;
}

.info2 {
    font-size: 18px;
    font-weight: 600;
    color:rgb(61, 60, 60); 
}

/* .star {
    font-size: 12px;
    color:rgb(30, 119, 115);
    font-weight: 800;
} */

.count, .type {
    font-size: 12px;
}

.image-13 {
    border-radius: 70%;
    width: 8rem;
    height: 8em;
    position: relative;
    object-fit: cover;
    
}
.image-14{

    width: 8rem;
    height: 8em;
    position: relative;
    object-fit: cover;
    background-image: url(/images/image-210.png);
}
.review{
    height: 14.5625rem;
    border: 1px solid black;
}


.con1 {
    margin-top:70px;
    margin-bottom:70px;
}

.con1 .con1_wrap{
    width:1092px;
    margin:0 auto;
}
content h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size:26px;
    color:#333;
}


.con1 .intro:after{
    display:block;
    clear:both;
    content:'';
}

.con1 .intro .item{
    float:left;
    width:348px;
    margin-bottom:25px;
}

.con1 .intro .item:nth-child(2){
    margin-right:24px;
    margin-left:24px;
}

.con1 .intro .item h4{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    font-weight: bold;

}

.con1 .intro .text{
    text-align: center;
    text-decoration: underline;
    color:#f49600;
    
}

.con1 .intro .text:hover{
    text-decoration: none;
}





/*추가 내용*/
.con2 {
    
    background-color: white;
    padding-top:70px;
    padding-bottom:70px;  
}

.con2 .con2_wrap{
    width:1092px;
    margin:0 auto;
}

.con2 .plan_wrap{
    margin-top:20px;
}

.con2 .plan_wrap ul:after{
    content:'';
    display:block;
    clear:both;
}
.con2 .plan_wrap ul .plan{
    float:left;
    margin-right: 25px;
}

.con2 .plan_wrap .plan:last-child{
    margin-right:0px;
}


.con2 .plan .item{
    margin-bottom:35px;
    width:346px;
    height: 295px;

}


.con2 .plan_wrap .plan .item img{
    width:100%;
    height: 100%;
    transition: all 2s;
}

.con2 .item img:hover{
    transform:scale(1.2)
    
}

.con2 .plan .item .plan_image{
    position:relative;
    height:200px;
    overflow: hidden;
}

.con2 .plan .item .plan_image .txt{
    position:absolute;
    bottom:0px;
    left:0;
    padding-left:15px;
    width:100%;
    box-sizing: border-box;
    padding-bottom:5px;
    padding-top:5px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))
    /* 
    background 그라데이션으로 주기
    
        background-image : linear-gradient()
        radial-gradient

         그라데이션 색상은 ,로 구분을 해 주면 그만큼 다 들어가짐
         색상 앞에 deg단위 혹은 to left와 같은 키워드를 사용해서 백그라운드 방향을 지정해줄 수 있음



    */
}

.txt .days{
    color:#999;
}

.txt .title{
    color:white;
}


.con2 .plan .item .plan_inform{
    background-color:white;
    border: 1px solid #ddd;
    padding-right:10px;
    padding-left:15px;
    padding-top:15px;
    padding-bottom:10px;
    font-size: 14px;
}

.con2 .plan .item .plan_inform:after{
    display:block;
    content:'';
    clear:both;
}

.con2 .plan .item .plan_inform .icon{
    float:right;
}

.con2 .plan .item .plan_inform .icon:after{
    content:'';
    display:block;
    clear:both;

}

.plan_inform p{
    margin-bottom:5px;
}

.con2 .plan .item .plan_inform .icon li{
    float:left;
    background-position-y: center;
    margin-left: 5px;
    
}

.icon li:nth-child(1){
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/11/b9a4ad76-d92a-4fcb-8eaa-2da9cbc42737icon_spot.png);
    background-repeat: no-repeat;
    padding-left:15px;
    
}

.icon li:nth-child(2){
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/11/f498b698-fe3f-48de-b2c8-79366820c977icon_view.png);
    background-repeat: no-repeat;
    padding-left:20px;
    
}

.icon li:nth-child(3){
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/11/ae54047c-6485-427b-87ce-7b7ecee8f7d4icon_user.png);
    background-repeat: no-repeat;
    padding-left:15px;
    
}

.con2 .plan .item .plan_inform .user{
    padding-left:20px;
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/11/dc9a965c-512e-4297-bb91-88fa47b3913eicon_view.png);
    background-repeat: no-repeat;
    background-position-y: center; 
}

.all{
    width:345px;
    padding-top:10px;
    padding-bottom:10px;
    border: 1px solid #ddd;
    text-align:center;
    margin:0 auto;
    background-color:white;
    font-size:14px;
    color:#666;
}

/*con2*/

.con3_wrap{
    width:1092px;
    margin: 0 auto;
    padding-top:70px;
    padding-bottom:80px;
    color: black;
}

.con3 li{
    margin-right:15px;
    margin-bottom:15px;
    border:1px solid #ddd;
    
    box-sizing: border-box;
}
.con3 .trip{
    margin-top:40px;
}
.con3 .trip_img{
   position: relative;
}
.trip_img1{
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/15/25fe711c-ad84-42af-93d6-fcbc2fbdc50dKakaoTalk_20240415_110607635_09.jpg);
    width: 539px;
     height: 200px;
     background-position:10%;
    background-size: cover;
    background-repeat: no-repeat;

}
.trip_img2{
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/15/2ebfc9f2-9ee9-4c39-af15-cacd25839799대구1.jpg);
    width: 259px;
     height: 160px;
     background-position:10%;
    background-size: cover;
    background-repeat: no-repeat;
}                  
.trip_img3{
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/15/04aa876d-68b4-4951-9ab2-e6a8d287bd1a함평.jpg);
    width: 259px;
    height: 160px;
    background-position:10%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position:0% 10%;
}
.trip_img4{
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/15/227faf34-d402-4f63-9cee-cfd66e54a86b경주.jpg);
    width: 259px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0% 10%;
}
.trip_img5{
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/15/82f8cfbd-9b8b-4802-a896-3dabeabd5b23광주.jpg);
    width: 259px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0% 25%;
}
.trip_img6{
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/15/05820606-5563-48f7-8c36-d66ef9c364fa부산.png);
    width: 538px;
    height: 159px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}



.con3 li:last-child{
    margin-right:0px;
}

.trip1:after{
    display:block;
    clear:both;
    content:'';
}
.trip1 li{
    float:left;
    height:310px;
}

.trip1 li:nth-child(1){
    width:540px;
}

.trip1 li:nth-child(2){
    width:260px;
}

.trip1 li:nth-child(3){
    width:260px;
}

.trip1 .trip_img img{
    width:100%;
    height:160px;
}
/*trip1*/
.trip2:after{
    display:block;
    clear:both;
    content:'';
}
.trip2 li{
    float:left;
    height:310px;
}

.trip2 li:nth-child(1){
    width:260px;
}

.trip2 li:nth-child(2){
    width:260px;
}

.trip2 li:nth-child(3){
    width:540px;
}

.trip2 .trip_img img{
    width:100%;
    height:160px;
}

.trip_img{
    overflow:hidden;
}

.trip_img img{
    transition:all 1s;
}

.trip_img img:hover{
    transform:scale(1.2)
}


.trip_inform{
    text-align:center;
    padding-top:20px;
    padding-right:10px;
    padding-left:10px;
}
.trip_inform .title{
    font-weight: bold;
    margin-bottom:20px;
}

.trip_inform p:last-child{
    font-size:14px;
}



/*con3*/

.title1{
    font-size: 10px;
}
ul{
     list-style:none;
 }
