*{
    padding: 0;
    margin: 0;
}
body{
    width: auto;
    height: auto;
}
.main{
    /* width: 65rem; */
    /* height: 65rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* 사이드 */

.except{
    display: flex;
    flex-direction: row;
    height: 18rem;
}


.side_bar{
    height: 15rem;
    width: 10rem;
    border: 1px solid black;
    margin: 1rem;
    text-align: center;
    line-height: 3;
    
}
/* 개인정보 변경 */
.privacy_change{
    height: 20rem;
}
.guide{
    margin: 30px;
    height: 6rem;
    display: flex;
    text-align: center;
}

.guide h1{
    width: 300px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration-line: none;
}
/* 내역 건수 */
.total_history{
    width: 15rem;
    height: 7rem;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #d3d3d3;
    
}
/* 내역 */
.my_history{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.information{
    
    
    margin: 30px;
    
}

.replace_reservation{
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
}
.post_reservation{
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
}

.qna_reservation{
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
}
form{
    display: flex;
    justify-content: flex-end;
}

.reservation_information{
    border: 1px solid;
    border-collapse: collapse;
}

.post_information{
    border: 1px solid;
    border-collapse: collapse;
}

.qna_information{
    border: 1px solid;
    border-collapse: collapse;
}

th{
    padding: 5px;
    border-bottom: 1px solid;
    background-color: #d3d3d3;
}

td{
    padding: 10px;
    border-bottom: 1px solid;
}

.page{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.page-item{
    margin: 0.5rem;
}