<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{common/fragments.css}">
</head>
<body>
    <div layout:fragment="footer">
		<footer>
		     <div class="title8">광고/제휴</div>
		     <div class="title9">서비스문의</div>
		     <div class="title10">개인정보 취급 방침</div>
		     <div class="title10">여행자약관</div>
		     <div class="title11">기이드약관</div>
		</footer>
    </div>
</body>
</html>
