<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{common/fragments.css}">
</head>
<body>
    <div layout:fragment="footer">
		<footer>
		     <div class="footerMenu">
				<a><div >광고/제휴</div></a>
				<a><div >서비스문의</div></a>
				<a><div >개인정보 취급 방침</div></a>
				<a><div >여행자약관</div></a>
				<a><div >가이드약관</div></a>
			 </div>
			 <div class="content copyright">© 2024 Trip to Trip. All rights reserved.</div>
		</footer>
    </div>
</body>
</html>
