<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" th:href="@{/common/common.css}">
   <link rel="stylesheet" th:href="@{/common/header.css}">
   
</head>
<body>

   <div th:fragment="header">
      
       <div sec:authorize="isAuthenticated()" class="profile disActive">
         <!-- <div class="profileBox">
           <div class="userImg"></div>
           <p class="userName">User X</p>
         </div> -->
         <div class="profileItems" id="topless">
           <a th:href="@{/user/mypage}">
             <p>마이페이지</p>
             <i class="fa-solid fa-gear"></i>
           </a>
         </div>
         <div class="profileItems">
           <a href="">
             <p>내 주문</p>
             <i class="fa-solid fa-cart-shopping"></i>
           </a>
         </div>
         <div class="profileItems">
           <a href="">
             <p>커뮤니티</p>
             <i class="fa-regular fa-comments"></i>
           </a>
         </div>
         <div class="profileItems">
           <a th:href="@{/QnA}">
             <p>고객센터</p>
             <i class="fa-solid fa-phone"></i>
           </a>
         </div>
         <div class="profileItems">
           <a href="">
             <p>알림</p>
             <i class="fa-regular fa-bell"></i>
           </a>
           <!-- <i class="fa-solid fa-bell"></i> -->
         </div>
         <div class="profileItems">
           <a th:href="@{/logout}">
             <p>로그아웃</p>
             <i class="fa-solid fa-right-from-bracket"></i>
           </a>
         </div>
       </div>
   

        <div  class="headerCon">
            <div class="title">Tip to track</div>
           
                <a href="#"><span class="tab">About the Site</span></a>
                <a href="#"><span class="tab">How to Use</span></a>
                <a th:href="@{/QnA}"><span class="tab">고객센터</span></a>
				<span class="tab">
				    커뮤니티
				    <ul class="cDropdownC">
				        <li>
				            <a href="/post/review/list">리뷰</a>
				        </li>
				        <li>
				            <a href="/post/noticeBoard/list">자유게시판</a>
				        </li>
				    </ul>
				</span>
                <a sec:authorize="isAnonymous()" th:href="@{/login_A}"><span class="tab">로그인</span></a>

            <div sec:authorize="isAuthenticated()" class="userBox">
               <!-- 유저 박스 보더 -->
               
                 <div class="profileBox">
                   <div class="userImg" ></div>
  					<div class="userName" th:text="${#authentication.name}"></div>
           		 </div>
				 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon-menu" onclick="toggleSVG()">
					<path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
				</svg>
				 </div> 
        	</div>   
			
   <script th:src="@{/common/header.js}"></script>
</div>
</body>
</html>
