*{
    padding: 0;
    margin: 0;
}
.noticeBody{
	padding-top: 7rem;
}
.notice{
    margin: 3.12rem;
}


h2{
    font-weight: bolder;
}

h6{
    border: 0;
    height: 3px;
    background-color:  #d3d3d3;
    margin-top: 0.62rem;
    margin-bottom: 0.62rem;
}

form {
    display: flex;
    justify-content: flex-end;
    
}

form select{
    margin-right: 0.62rem;
}


form span{
    font-weight: 900;
    font-size: 1.25rem;
    margin-right: 0.62rem;
}

form input{
    margin-right: 0.62rem; 
}

table {
    width: 100%;
    text-align: center;
    border-top: 1px solid #d3d3d3;
    border-collapse: collapse;
    margin-top: 0.62rem;
    margin-bottom: 0.62rem;
}
th { 
    background-color: #d3d3d3 ; 
    border-top: 3px solid #727272;
}
th, td {
    border-bottom: 1px solid #d3d3d3;
    padding: 0.62rem;
}

.write_button
{
    height: 100%;
    display: flex;
    justify-content: flex-end;

}
.write {
width: 5rem;
height: 1.87rem;
font-weight: 900;
color: white;
text-align: center;
background:  black;
border: solid 2px white;
border-radius: 0.3rem;
}

.page{
    display: flex;
    justify-content: center;
}

a{

    margin: 0.3rem;
    color:black;
    text-align: center; 
    text-decoration-line : none;
}