*{
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.updateBody{
	padding:7rem;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profileImgCon{
	padding-bottom: 1rem;
}
.selectedImgView{
	border: 1px solid black;
	width: 100px; height: 100px;
	display: inline-block;
	background-size: cover;
}
#profileImg{
	margin-left: 1rem;
	transform: translateY(-0.5rem);
}
h2 {
    text-align: center;
}
form {
    margin-top: 30px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.select{
	
}
.form-group input{
	width: 100%;
}
.form-group input[type="text"] {
    width: 95%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}