*{
    padding: 0;
    margin: 0;
    border: none;
}
 

/* main */

.main{
    width: 95% 95%;
    height: 100vh;
    /* background:url(masaaki-komori-_SbeCWYjwCQ-unsplash.jpg); */
    background-image: url(https://storage.googleapis.com/kdt3th_project/2024/04/15/7cab4a83-4ea5-4b70-8a6b-04a02cf9c032KakaoTalk_20240415_110607635_10.jpg);
    text-align: center;
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;
    display: grid;
}


.totLoginPage {
    margin: auto;
    width: 18.75em;
    background-color: white;
    border-radius: 0.3em;    
    text-align: center;
    padding: 1.25em;
    opacity: 90%;
}

.logo p{
    font-size: 1.5em;
    text-align: center;
    padding: 0.6em;
    line-height : 1em;
}


#login-btn {
    width: 90%;
    padding: 0.6em;
    box-sizing: border-box;
    border-radius: 0.3em;
    background-color: #FFD8E4;
    margin-bottom: 0.6em;
    color: #9B9B9B;
}

#sign_up_btn {
    width: 90%;
    padding: 0.6em;
    box-sizing: border-box;
    border-radius: 0.3em;
    background-color: #FFD8E4;
    margin-bottom: 0.6em;
    color: #9B9B9B;
}

input {
    width: 90%;
    padding: 0.6em;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin-bottom: 0.6em;
}

select{
    width: 90%;
    padding: 0.6em;
    box-sizing: border-box;
    border-radius: 0.3em;
    margin-bottom: 0.6em;
}

a {
    text-decoration: none;
    font-size: 1em;
    line-height : 2em;
}



