/* myPage.css */

/* Section styles */
.myPageChecker {
    max-width: 400px;
    margin: 5rem auto;
    padding: 5rem 2rem 2rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.myPageChecker h1 {
    color: #343a40;
    margin-bottom: 30px;
}
#currentName{
	font-size: 2rem;
    color: #343a40;
    margin-bottom: 30px;
}
/* Input styles */
.myPageChecker input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button styles */
.myPageChecker button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.myPageChecker button[type="submit"]:hover {
    background-color: #0056b3;
}
