* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}
.mypageBody {
    padding: 10rem;
}
.menu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.icon-menu {
    width: 20%;
    height: 20%;
}
.menu.animate {
    transform: rotate(90deg);
}
.menuNode {

    position: fixed;
    left: 5rem;
    top: 15rem;

}
.node {
    transform: translateX(-300px);
    font-size: 1.5rem;
    margin: 0.5rem;

    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.node.active {
    transform: translateX(0px);
}
.menuNode ul li a {
    color: #333;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    max-width: 800px;
    height: fit-content;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1.5rem 5rem;

}

.myProfile {
    padding: 3rem;
    text-align: center;

    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}
.myProfile {
    margin-top: 1rem;
}
.mytext{
    font-size: 50px;
    
    position: relative;
}
.myProfile img {
    background-color: #666;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0rem 0 2rem 3rem;
}

.myProfile h2 {
    transform: translateY(2rem);
    color: black;
}

.info-grid {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;

}
.info-grid2 {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 10px;
    height: 410px;
    white-space: nowrap;
    overflow: hidden;

}
.info-grid li {
    list-style: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 2.5rem;
}

.info-grid li:nth-child(odd) {
    background-color: #e9e9e9;
}
.info-grid li {
    list-style: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 2.5rem;
}

.info-grid li:nth-child(odd) {
    background-color: #e9e9e9;
}

.info-grid2 td {
    list-style: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 2.5rem;
}
.info-grid2 td:nth-child(odd) {
    background-color: #e9e9e9;
}
.a{
    margin:  0rem 5rem 5rem ;



.flexCon{
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
}
h1{
	margin:0.5rem;
}

.infoCon{
	display: inline-block;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--white);
	box-shadow: 2px 2px 5px 2px lightgrey ;
	height: fit-content;
}
.flexCon.column{
	flex-direction: column;
}


.tableHead.normal::before{
	color:pink;
}


#userTable{
	border-collapse: collapse;
	
	width: 800px;
}
#userTable,#bisTable{
	margin: 1rem;
}
#userTable td{	
	text-align: center;
	padding: 0.5rem;
	font-size: 1.2rem;
}

.tableHeader>th{
	padding: 0.5rem
}
.tableHeader.normal{
	background-color: var(--main-color);

}

#userTable tr:nth-child(odd) td{
  background:#EBEBEB;
}
summary{
	width: 800px;
	font-size: 1.2rem;

}