.itemBody{
	padding-top: 10rem;
	display: flex;
	justify-content: center;
}
.item-list {
	width: 80vw;
/*    display: flex;
    flex-wrap: wrap;
    gap: 20px;*/
}

.item {
	display: flex;
	gap: 2rem;
	width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px; 
    margin:2rem;
}
.Img{
	min-width: 700px;
	max-width: 700px;
	background-size: cover;
}
.Img img{
	width: 100%;
}