.content{
	display: flex;
	justify-content: center;
	padding: 6rem 0 5rem 0;
	
}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
 
}
.serch{
    border: 1px;
    background-color:var(--blurry-main);
   /* position: relative;*/
    
    width: 100%;
    font-size: 1.5em;
    padding: 1rem;
    
    box-shadow:2px 3px 5px 0px;
    
}
#searchI{
	width: 1.2rem;
	height: 1rem;
}
.serch input{
    width: 60rem;
} 

label{
    color: var(--white);
    text-shadow: 2px 0px var(--main-color), 0px 2px var(--main-color), 1px 0px var(--main-color), 0px -1px var(--main-color);
}

.c-input-search {
    width: 50%;
    padding: 0.9em;
    box-sizing: border-box;
    border-radius: 3em;
    margin-bottom: 0.6em;
    text-align: center;  
}

.Button{
    text-align: center;
    width: 75%;
    padding: 5px;
    margin: 5px;
}
.button i{
	color: var(--black);
}
button{
    border-radius: 3em;
    background-color: white;
    margin: 1em;
    padding: 0.6em;
    display :relative;
    font-size: 1rem;
    font-weight: bold;
}
.question_box{

}
.question{
    padding: 0 2rem;
}
.question div{
    padding: 2rem 0 0 0;
}
.ContentsList{
	border: 2px solid var(--vivid-main);
	 
    /* 내일 질문 */
   
    /*position: fixed;*/
    translate: -20px 0;
    border: 1px;
    padding: 1rem;
    
}

details {
    width: 75rem;
    padding: 1rem;   
    box-shadow:2px 3px 5px 0px;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    background-color: #fff;
    
}

summary {
    text-align:left;
    display: block;
    padding: 2rem 3rem 2rem 0;
    font-weight: 600;
}
iframe{
    background-color: #fafafa;
}
details[open] {
  padding: 2em;
}
.fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }
  
  /* 닫힐 때 사라지는 애니메이션 */
  .fade-out {
    animation: fadeOut 0.3s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 1;
      transform: translateY(-1px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(1px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

details[open] summary {
  
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em 2rem;
}


.side {
    
    border: 1px solid;
    width: 13%;
    
    padding: 1rem;
    margin: 1px;
    float: inline-start;
    font-style: italic;
    text-align: center;
    line-height: 2;
    background-color: #fff;
    
  }

a {
    text-decoration: none;
    color: black;
  }
.write{
  font-size: 1.5rem;
  padding: 1rem;
  width: 10rem;
 
}
.userQuestion{
	display: flex;	
	flex-direction: row;

}
.con{
	flex: 1;
}
.repleArea{
	width: 800px; height: 95px;
	float: left;
	font-size: 1.2rem;
}