.content{
	display: flex;
	justify-content: center;
	padding: 1rem 0 5rem 0;
}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.serch{
    border: 1px;
    background-color:var(--blurry-main);
   /* position: relative;*/
    
    width: 75rem;
    font-size: 1.5em;
    padding: 1rem;
    
    box-shadow:2px 3px 5px 0px;
    
}

.serch input{
    width: 60rem;
}

label{
    color: red;
}

.c-input-search {
    width: 50%;
    padding: 0.9em;
    box-sizing: border-box;
    border-radius: 3em;
    margin-bottom: 0.6em;
    text-align: center;  
}

.Button{
    text-align: center;
    width: 75%;
    padding: 5px;
    margin: 5px;
}

button{
    border-radius: 3em;
    background-color: white;
    margin: 1em;
    padding: 0.6em;
    display :relative;
    font-size: 1rem;
    font-weight: bold;
}

.question_box{
   
}
.ContentsList{
	border: 2px solid var(--vivid-main);
	 overflow-x: hidden;
    /* 내일 질문 */
    height: 700px;
    /*position: fixed;*/
    overflow-y: scroll;
    border: 1px;
    padding: 1rem;
    margin: 3px; 
}

details {
    width: 75rem;
    padding: 1rem;   
    box-shadow:2px 3px 5px 0px;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    background-color: #fff;
    
}

summary {
    text-align:left;
    display: block;
    padding: 2rem 3rem 2rem 0;
    font-weight: 600;
}
iframe{
    background-color: #fafafa;
}
details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}


.side {
    
    border: 1px solid;
    width: 13%;
    
    padding: 1rem;
    margin: 1px;
    float: inline-start;
    font-style: italic;
    text-align: center;
    line-height: 2;
    background-color: #fff;
    
  }

a {
    text-decoration: none;
    color: black;
  }
  


